<div class="inner">
    {{if data.subTitle}}<div class="sub-title">{{!data.subTitle}}</div>{{/if}}
    <div class="outer-wrapper">
        <div class="pr">
            <mx-carousel
                height="498" 
                autoplay="true"
                prev-trigger="{{=viewId}}_prev"
                next-trigger="{{=viewId}}_next"
                dot-type="dot-out-center">
                {{each data.list as item}}
                <mx-carousel.panel class="inner-wrapper">
                    <div class="case clearfix">
                        <div class="case-img" style="background-image: url({{=item.img}});"></div>
                        <div class="case-cnt">
                            <!-- <div class="case-cnt-inner" mx-view="./detail?data={{@item}}&biz={{@biz}}" data-spm="ccc8b9096"></div> -->
                        </div>
                    </div>
                </mx-carousel.panel>
                {{/each}}
            </mx-carousel>
    
            {{if (data.list && data.list.length > 1)}}
            <div class="prev" id="{{=viewId}}_prev"><i class="icon iconfont">&#xe799;</i></div>
            <div class="next" id="{{=viewId}}_next"><i class="icon iconfont">&#xe799;</i></div>
            {{/if}}
        </div>
    </div>

    {{if data.bottomLink && data.bottomLink.text}}
    <div class="bottom-link">
        {{if data.bottomLink.checkLogin && !biz.user}}
        <!-- 未登录且需要校验登录 -->
        <a mx-click="showLogin()" href="javascript:;" data-spm-click="gostr=/alimama_bp.3.1;locaid=dc2cases{{=data.spmIndex}}_card_case">
            {{=data.bottomLink.text}}<i class="minisite-iconfont bottom-link-icon">&#xe63d;</i>
        </a>
        {{else}}
        <!-- 已登录 / 不需要校验登录 -->
        <a {{if data.bottomLink.outer}} target="_blank" {{/if}} href="{{=data.bottomLink.url}}" data-spm-click="gostr=/alimama_bp.3.1;locaid=d2ffcases{{=data.spmIndex}}_card_case">
            {{=data.bottomLink.text}}<i class="minisite-iconfont bottom-link-icon">&#xe63d;</i>
        </a>
        {{/if}}
    </div>
    {{/if}}
</div>