<div class="clearfix">
    <a class="banner" style="background-image: url({{=data.img}}); {{if data.bg}} background-color: {{=data.bg}}; {{/if}}" 
    {{if data.link}} href="{{=data.link}}" target="_blank" {{else}} href="javascript:;" {{/if}} data-spm-click="gostr=/alimama_bp.3.1;locaid=ddd372f37{{=data.spmIndex}}_learn"></a>
    <div class="inner learn-inner">
        <mx-grid.row gutter="16px">
            <mx-grid.col width="{{=(devInfo.pc ? '200px' : '120px')}}" class="grid learn-content">
                {{each courseGroups as group groupIndex}}
                    <a href="javascript:;" class="menu menu-group {{if group.selected}} menu-cur {{/if}}" 
                        mx-click="toggle({groupIndex: '{{=groupIndex}}'})" data-spm-click="gostr=/alimama_bp.3.1;locaid=d42cf5312{{=data.spmIndex}}_learn">
                        {{=group.groupTitle}}
                        <i class="minisite-iconfont menu-icon {{if group.selected}} menu-icon-expand {{/if}}">&#xe692;</i>
                    </a>
                    {{each group.courses as course}}
                    <a href="javascript:;" class="menu {{if course.selected}} menu-cur {{/if}}" style="height: {{=(group.selected ? 36 : 0)}}px;"
                        mx-click="change({courseId: '{{=course.courseId}}'})" data-spm-click="gostr=/alimama_bp.3.1;locaid=da50ef2bf{{=data.spmIndex}}_learn">{{=course.title}}</a>
                    {{/each}}
                {{/each}}
            </mx-grid.col>
            <mx-grid.col flex="1" class="grid learn-content">
                <mx-grid.body>{{!content}}</mx-grid.body>
            </mx-grid.col>
        </mx-grid.row>
    </div>
    {{if recs && (recs.length > 0)}}
    <mx-grid class="clearfix inner learn-rec">
        <div class="title">系列推荐</div>
        <mx-effects.card class="mt8 mb16"
            mode="carousel-icon-list" 
            list="{{@recs}}" mx-spm-ph="anything" data-spm-click="gostr=/alimama_bp.3.1;locaid=daf00eacb{{=data.spmIndex}}_learn"/>
    </mx-grid>
    {{/if}}
</div>