<div class="login-frame">
    <div class="title">欢迎登录</div>
    <div class="sub-title">{{=nickName}}</div>
    <div class="img-wrapper">
        <img class="img" src="{{=biz.portrait}}" />
    </div>
    {{if biz.unauthorized}}
    <div class="msg" title="{{=message}}">{{!message}}</div>
    {{else}}
    <div class="clearfix">
        <a href="{{=forward}}" class="btn btn-brand custom-btn login-btn" data-spm-click="gostr=/alimama_bp.3.1;locaid=d17068800">进入后台</a>
    </div>
    {{/if}}
    <div class="links">
        {{if (biz.unauthorized && unauthorizedInfo.link && unauthorizedInfo.linkText)}}
        <a href="{{=unauthorizedInfo.link}}" target="_blank" class="link-brand fl" data-spm-click="gostr=/alimama_bp.3.1;locaid=d4998c094">{{=unauthorizedInfo.linkText}}</a>
        {{/if}}
        <a href="{{=biz.logoutUrl}}" class="link-brand fr" data-spm-click="gostr=/alimama_bp.3.1;locaid=d884b1ff2">退出账户</a>
    </div>
</div>