<div class="eg-content">
    <mx-error />
</div>
<div class="eg-desc">
    <div class="eg-title">HTML Code</div>
    <div class="desc-oper" 
        mx-click="@:{done}({id:1})" data-spm-click="gostr=/alimama.99.dmp;locaid=da00b4562">
        <span class="desc-tip" mx-html="{{=text1}}"></span>
        <i class="mx5-iconfont desc-icon">&#xe610;</i>
    </div>
    <!-- <mx-copy class="desc-oper" 
        *copy-node="{{=$viewId}}_text_1" 
        mx-success="@:{done}({id:1})">
        <span class="desc-tip">{{!text1}}</span>
        <i class="mx5-iconfont desc-icon">&#xe610;</i>
    </mx-copy> -->
    <pre id="{{=$viewId}}_text_1">
&lt;mx-error /&gt;
    </pre>
</div>