<div class="eg-content">
    <div class="mx5-mb20 mx5-clearfix">
        <div class="mx5-fl mx5-color-9">以下示例：</div>
        <div class="mx5-fl">
            <div>只读</div>
        </div>
    </div>
    <mx-tree id="{{=viewId}}_tree"
        *type="readonly"
        *need-expand="true"
        *close="false"
        *has-line="true"
        *list="{{#list}}" />
</div>
<div class="eg-desc">
    <div class="eg-title">HTML Code</div>
    <mx-copy class="desc-oper" 
        *copy-node="{{=$viewId}}_text_1" 
        mx-success="@:{done}({id:1})">
        <span class="desc-tip" mx-html="{{=text1}}"></span>
        <i class="mx5-iconfont desc-icon">&#xe610;</i>
    </mx-copy>
    <mx-source whole="true" id="{{=$viewId}}_text_1">
        <mx-tree id="{{=viewId}}_tree"
            *type="readonly"
            *need-expand="true"
            *close="false"
            *has-line="true"
            *list="{{#list}}" />
    </mx-source>
</div>