<div class="example">
	<div class="eg-content">
		<div class="eg-content-tip">
			<div class="eg-content-tip-prefix">以下示例：</div>
			<div>提示信息 + 外链跳转</div>
		</div>
		<div>
            <mx-tabs 
                *list="{{#[{
                    value: 1,
                    text: '模块1',
                    tip: '提示信息'
                }, {
                    value: 2,
                    text: '模块2'
                }, {
                    value: 3,
                    text: '外链',
                    link: 'https://www.taobao.com/'
                }]}}" />
        </div>
	</div>
	<div class="eg-desc">
        <div class="eg-title">HTML Code</div>
        <mx-copy class="desc-oper" *copy-node="{{=$viewId}}_text_1" mx-success="@:{done}({id:1})">
            <span class="desc-tip" mx-html="{{=text1}}"></span>
            <i class="mx5-iconfont desc-icon">&#xe610;</i>
        </mx-copy>
        <mx-source whole="true" id="{{=$viewId}}_text_1">
<mx-tabs 
    *list="{{#[{
        value: 1,
        text: '模块1',
        tip: '提示信息'
    }, {
        value: 2,
        text: '模块2'
    }, {
        value: 3,
        text: '外链',
        link: 'https://www.taobao.com/'
    }]}}" />
        </mx-source>
    </div>
</div>