<div class="example">
	<div class="eg-content">
		<div class="eg-content-tip">
			<div class="eg-content-tip-prefix">以下示例：</div>
			<div>配置tag + color（默认红色）</div>
            <div>配置tagContent，完全自定义打标，优先级 tagContent &gt; tag + color</div>
		</div>
		<div class="mb20">
            <mx-tabs.box class="mx5-mr20" 
				*list="{{#[{
					text: '模块1',
					value: 1,
					tag: '<i class="mx5-iconfont">&#xe601;</i>',
					tip: '提示信息',
				}, {
					text: '模块2',
					value: 2,
					tagContent: '<span style="position: absolute; left: 0; top: -6px; width: 8px; height: 8px; border-radius: 50%; background-color: var(--color-red);"></span>',
				}]}}"/>

            <mx-tabs.box class="mx5-mr20"
                *list="{{#[{
                    text: '模块1',
                    value: 1,
                    tag: 'New',
                    color: '#30ab66'
                },{
                    text: '模块2',
                    value: 2
                }]}}"/>
        </div>
	</div>
	<div class="mx5-clearfix">
		<div class="eg-desc flw50 mx5-brc">
			<div class="eg-title">HTML Code</div>
			<mx-copy class="desc-oper" *copy-node="{{=$viewId}}_text_1" mx-success="@:{done}({id:1})">
				<span class="desc-tip" mx-html="{{=text1}}"></span>
				<i class="mx5-iconfont desc-icon">&#xe610;</i>
			</mx-copy>
			<mx-source whole="true" id="{{=$viewId}}_text_1">
<mx-tabs.box class="mx5-mr20" 
	*list="{{#[{
		text: '模块1',
		value: 1,
		tag: '<i class="mx5-iconfont">&#xe601;</i>',
		tip: '提示信息',
	}, {
		text: '模块2',
		value: 2,
		tagContent: '<span style="position: absolute; left: 0; top: -6px; width: 8px; height: 8px; border-radius: 50%; background-color: var(--color-red);"></span>',
	}]}}"/>
			</mx-source>
		</div>
		<div class="eg-desc flw50">
			<div class="eg-title">JS Code</div>
			<mx-copy class="desc-oper" *copy-node="{{=$viewId}}_text_2" mx-success="@:{done}({id:2})">
				<span class="desc-tip" mx-html="{{=text2}}"></span>
				<i class="mx5-iconfont desc-icon">&#xe610;</i>
			</mx-copy>
			<mx-source whole="true" id="{{=$viewId}}_text_2">
<mx-tabs.box class="mx5-mr20"
	*list="{{#[{
		text: '模块1',
		value: 1,
		tag: 'New',
		color: '#30ab66'
	},{
		text: '模块2',
		value: 2
	}]}}"/>
			</mx-source>
		</div>
	</div>
</div>