<div class="example">
	<div class="eg-content">
		<div class="eg-content-tip">
			<div class="eg-content-tip-prefix">以下示例：</div>
			<div>部分禁用&#38;选中项禁用</div>
		</div>
        <div class="mx5-mb40">
            <!-- 部分禁用&选中项禁用 -->
            <mx-tabs.box 
                *list="{{#list}}" 
                *selected="{{=selected1}}"/>
        </div>
        <div class="eg-content-tip">
			<div class="eg-content-tip-prefix">以下示例：</div>
			<div>部分禁用&#38;非选中项禁用</div>
		</div>
        <div class="mx5-mb40">
            <!-- 部分禁用&非选中项禁用 -->
            <mx-tabs.box 
                *list="{{#list}}" 
                *selected="{{=selected2}}"/>
        </div>
        <div class="eg-content-tip">
			<div class="eg-content-tip-prefix">以下示例：</div>
			<div>整体禁用</div>
		</div>
        <div class="mx5-mb40">
            <!-- 整体禁用 -->
            <mx-tabs.box 
                *disabled="true" 
                *list="{{#list}}" 
                *selected="{{=selected3}}"/>
        </div>
	</div>
	<div class="mx5-clearfix">
		<div class="eg-desc flw50 mx5-brc">
			<div class="eg-title">HTML Code</div>
			<mx-copy class="desc-oper" *copy-node="{{=$viewId}}_text_1" mx-success="@:{done}({id:1})">
				<span class="desc-tip" mx-html="{{=text1}}"></span>
				<i class="mx5-iconfont desc-icon">&#xe610;</i>
			</mx-copy>
			<mx-source whole="true" id="{{=$viewId}}_text_1">
<!-- 部分禁用&选中项禁用 -->
<mx-tabs.box 
    *list="{{#list}}" 
    *selected="{{=selected1}}"/>

<!-- 部分禁用&非选中项禁用 -->
<mx-tabs.box 
    *list="{{#list}}" 
    *selected="{{=selected2}}"/>

<!-- 整体禁用 -->
<mx-tabs.box 
    *disabled="true" 
    *list="{{#list}}" 
    *selected="{{=selected3}}"/>
			</mx-source>
		</div>
		<div class="eg-desc flw50">
			<div class="eg-title">JS Code</div>
			<mx-copy class="desc-oper" *copy-node="{{=$viewId}}_text_2" mx-success="@:{done}({id:2})">
				<span class="desc-tip" mx-html="{{=text2}}"></span>
				<i class="mx5-iconfont desc-icon">&#xe610;</i>
			</mx-copy>
			<mx-source whole="true" id="{{=$viewId}}_text_2">
import Magix5 from 'magix5';
import View from 'magix5-gallery/view';

export default View.extend({
    tmpl: '@:index.html',
    render() {
        this.digest({
            list: [{
                value: 1,
                text: '模块1'
            }, {
                value: 2,
                text: '模块2',
                disabled: true,
            }, {
                value: 3,
                text: '模块3',
                disabled: true,
            }, {
                value: 4,
                text: '模块4',
                disabled: true,
            }, {
                value: 5,
                text: '模块5'
            }, {
                value: 6,
                text: '模块6'
            }],
            selected1: 3,
            selected2: 1,
            selected3: 2,
        });
    }
});
			</mx-source>
		</div>
	</div>
</div>