<input type="text" class="input {{if small}} input-small {{/if}}"
    id="{{=viewId}}_input"
    style="width: {{=width}}; text-align: {{=textAlign}};"
    placeholder="{{=placeholder}}??"
    autocomplete="{{=autocomplete}}??"
    value="{{=value}}" 
    mx-keyup="@:{fire}()"
    mx-focusout="@:{fire}()"
    mx-change="@:{fire}()" />
<span class="input-focus"></span>
{{if (showDelete && value)}}
    <i class="mx5-iconfont delete-icon" mx-click="@:{clear}()">&#xe727;</i>
{{else}}
    {{if search}}
    <i class="mx5-iconfont search-icon">&#xe6ef;</i>
    {{/if}}
{{/if}}