<div class="example">
    <div class="eg-content">
        <div class="eg-content-tip">
            <div class="eg-content-tip-prefix">以下示例：</div>
            <div>mx-input包装了动效，快捷删除，搜索框，密码框，输入计数等功能</div>
            <div>带一键移除功能的输入框，<span class="mx5-color-brand">当输入内容不为空时出现移除按钮</span></div>
        </div>
        <div class="mx5-mb20">
            <span class="mx5-color-9 mx5-inline-block mx5-w120">普通输入框</span>
            <mx-input class="mx5-w200"
                *placeholder="请输入整数" 
                *value="{{=value1}}" 
                mx-change="change({index:1})"/>
            <span class="mx5-ml20"><span class="mx5-color-9">当前输入：</span>{{=value1}}</span>
        </div>
        <div class="mx5-mb20">
            <span class="mx5-color-9 mx5-inline-block mx5-w120">一键删除输入框</span>
            <mx-input class="mx5-w200"
                *suffix="delete"
                *placeholder="请输入整数" 
                *value="{{=value2}}" 
                mx-change="change({index:2})"/>
            <span class="mx5-ml20"><span class="mx5-color-9">当前输入：</span>{{=value2}}</span>
        </div>
    </div>
    <div class="mx5-clearfix">
        <div class="eg-desc flw50">
            <div class="eg-title">HTML Code</div>
            <mx-copy class="desc-oper" 
                *copy-node="{{=$viewId}}_text_1" 
                mx-success="@:{done}({id:1})">
                <span class="desc-tip" mx-html="{{=text1}}"></span>
                <i class="mx5-iconfont desc-icon">&#xe610;</i>
            </mx-copy>
            <mx-source whole="true" id="{{=$viewId}}_text_1">
                <!-- 普通输入框 -->
                <mx-input class="mx5-w200"
                    *placeholder="请输入整数" 
                    *value="{{=value1}}" 
                    mx-change="change({index:1})"/>

                <!-- 一键删除输入框 -->
                <mx-input class="mx5-w200"
                    *suffix="delete"
                    *placeholder="请输入整数" 
                    *value="{{=value2}}" 
                    mx-change="change({index:2})"/>
            </mx-source>
        </div>
        <div class="eg-desc flw50 mx5-blc">
            <div class="eg-title">JS Code</div>
            <mx-copy class="desc-oper" 
                *copy-node="{{=$viewId}}_text_2" 
                mx-success="@:{done}({id:2})">
                <span class="desc-tip" mx-html="{{=text2}}"></span>
                <i class="mx5-iconfont desc-icon">&#xe610;</i>
            </mx-copy>
            <mx-source whole="true" id="{{=$viewId}}_text_2">
import Magix5 from 'magix5';
import View from 'magix5-gallery/views/pages/base/demo';

export default View.extend({
    tmpl: '@:index.html',
    render() {
        this.digest({
            value1: '',
            value2: '',
        })
    },
    'change<change>'(e) {
        this.digest({
            [`value${e.params.index}`]: e.value
        })
    }
})
            </mx-source>
        </div>
    </div>
</div>