<div class="example">
    <div class="eg-content">
        <div class="eg-content-tip">
            <div class="eg-content-tip-prefix">以下示例：</div>
            <div>支持配置prefix设置输入框前缀，前缀仅做内容类型表意提示，无交互行为</div>
            <div class="mx5-color-brand">prefix可配置一些保留关键词，设置常见输入框类型：search（搜索框），money（金额输入），user（用户输入），其余情况下原样输出</div>
        </div>
    
        <div class="mx5-clearfix mx5-mb40">
            <div class="mx5-fl mx5-mb20 flw50">
                <span class="mx5-color-9 mx5-inline-block mx5-w100">搜索框</span>
                <mx-input class="mx5-w200" *prefix="search" *placeholder="请输入" *value="{{=value}}" />
            </div> 
            <div class="mx5-fl mx5-mb20 flw50">
                <span class="mx5-color-9 mx5-inline-block mx5-w100">金额输入</span>
                <mx-input class="mx5-w200" *prefix="money" *placeholder="请输入" *value="{{=value}}"  />
            </div>
            <div class="mx5-fl mx5-mb20 flw50"> 
                <span class="mx5-color-9 mx5-inline-block mx5-w100">用户输入</span>
                <mx-input class="mx5-w200" *prefix="user" *placeholder="请输入" *value="{{=value}}" />
            </div>
            <div class="mx5-fl mx5-mb20 flw50">
                <span class="mx5-color-9 mx5-inline-block mx5-w100">原样输出</span>
                <mx-input class="mx5-w200" *prefix="自定义前缀" *placeholder="请输入" *value="{{=value}}" />
            </div>
        </div>

        <div class="eg-content-tip">
            <div class="eg-content-tip-prefix">以下示例：</div>
            <div>支持配置suffix设置输入框后缀，后缀可放置一些有交互行为的操作icon，或者纯提示类的语义表达</div>
            <div class="mx5-color-brand">suffix保留关键词：search（强调搜索框），delete（一键移除，操作点），password（密码框，可操作切换是否显示），其余情况下原样输出（纯展示）</div>
        </div>

        <div class="mx5-clearfix mx5-mb40">
            <div class="mx5-fl mx5-mb20 flw50">
                <span class="mx5-color-9 mx5-inline-block mx5-w100">强调搜索框</span>
                <mx-input class="mx5-w200" *suffix="search" *placeholder="请输入" *value="{{=value}}"  />
            </div> 
            <div class="mx5-fl mx5-mb20 flw50">
                <span class="mx5-color-9 mx5-inline-block mx5-w100">一键移除</span>
                <mx-input class="mx5-w200" *suffix="delete" *placeholder="请输入" *value="{{=value}}"/>
            </div>
            <div class="mx5-fl mx5-mb20 flw50"> 
                <span class="mx5-color-9 mx5-inline-block mx5-w100">密码框</span>
                <mx-input class="mx5-w200" *suffix="password" *placeholder="请输入" *value="{{=value}}"  />
            </div>
            <div class="mx5-fl mx5-mb20 flw50">
                <span class="mx5-color-9 mx5-inline-block mx5-w100">语义提示</span>
                <mx-input class="mx5-w200" *suffix="元" *placeholder="请输入" *value="{{=value}}"/>
            </div>
        </div>
    </div>
    <div class="eg-desc">
        <div class="eg-title">HTML Code</div>
        <mx-copy class="desc-oper" 
            *copy-node="{{=$viewId}}_text_1" 
            mx-success="@:{done}({id:1})">
            <span class="desc-tip" mx-html="{{=text1}}"></span>
            <i class="mx5-iconfont desc-icon">&#xe610;</i>
        </mx-copy>
        <mx-source whole="true" id="{{=$viewId}}_text_1">
<!-- 【前缀】搜索框 -->
<mx-input class="mx5-w200" *prefix="search" *placeholder="请输入" *value="{{=value}}" />

<!-- 【前缀】金额输入 -->
<mx-input class="mx5-w200" *prefix="money" *placeholder="请输入" *value="{{=value}}"  />

<!-- 【前缀】用户输入 -->
<mx-input class="mx5-w200" *prefix="user" *placeholder="请输入" *value="{{=value}}" />

<!-- 【前缀】原样输出 -->
<mx-input class="mx5-w200" *prefix="自定义前缀" *placeholder="请输入" *value="{{=value}}" />

<!-- 【后缀】强调搜索框 -->
<mx-input class="mx5-w200" *suffix="search" *placeholder="请输入" *value="{{=value}}"  />

<!-- 【后缀】一键移除 -->
<mx-input class="mx5-w200" *suffix="delete" *placeholder="请输入" *value="{{=value}}"/>

<!-- 【后缀】密码框 -->
<mx-input class="mx5-w200" *suffix="password" *placeholder="请输入" *value="{{=value}}"  />

<!-- 【后缀】语义提示 -->
<mx-input class="mx5-w200" *suffix="元" *placeholder="请输入" *value="{{=value}}"/>
        </mx-source>
    </div>
</div>