<div class="example">
    <div class="eg-content">
        <div class="mx5-mb20">
            <!-- 【前缀】搜索框 -->
            <mx-input class="mx5-w120 mx5-mr20" *disabled="true" *prefix="search" *placeholder="请输入"  *value="{{=value}}" />

            <!-- 【前缀】金额输入 -->
            <mx-input class="mx5-w120 mx5-mr20" *disabled="true" *prefix="money" *placeholder="请输入" *value="{{=value}}"  />

            <!-- 【前缀】用户输入 -->
            <mx-input class="mx5-w120 mx5-mr20" *disabled="true" *prefix="user" *placeholder="请输入" *value="{{=value}}" />

            <!-- 【前缀】原样输出 -->
            <mx-input class="mx5-w120 mx5-mr20" *disabled="true" *prefix="自定义前缀" *placeholder="请输入" *value="{{=value}}" />
        </div>

        <div class="mx5-mb20">
            <!-- 【后缀】强调搜索框-->
            <mx-input class="mx5-w120 mx5-mr20" *disabled="true" *suffix="search" *placeholder="请输入"  *value="{{=value}}"/>

            <!-- 【后缀】一键移除 -->
            <mx-input class="mx5-w120 mx5-mr20" *disabled="true" *suffix="delete" *placeholder="请输入"  *value="{{=value}}"/>

            <!-- 【后缀】密码框，点击切换是否显示 -->
            <mx-input class="mx5-w120 mx5-mr20" *disabled="true" *suffix="password" *placeholder="请输入" *value="{{=value}}"  />

            <!-- 【后缀】原样输出，语义提示 -->
            <mx-input class="mx5-w120 mx5-mr20" *disabled="true" *suffix="元" *placeholder="请输入"  *value="{{=value}}"/>
        </div>
    </div>
    <div class="eg-desc">
        <div class="eg-title">HTML Code</div>
        <mx-copy class="desc-oper" 
            *copy-node="{{=$viewId}}_text_1" 
            mx-success="@:{done}({id:1})">
            <span class="desc-tip" mx-html="{{=text1}}"></span>
            <i class="mx5-iconfont desc-icon">&#xe610;</i>
        </mx-copy>
        <mx-source whole="true" id="{{=$viewId}}_text_1">
            <mx-input *disabled="true" *prefix="search" *placeholder="请输入"  *value="{{=value}}" />
        </mx-source>
    </div>
</div>