<div class="example">
    <div class="eg-content">
        <div class="eg-content-tip">
            <div class="eg-content-tip-prefix">以下示例：</div>
            <div>完整的翻页器可显示内容</div>
            <div>当前页数（{{=page}}），每页显示（{{=size}}）</div>
            <div>sizes-change="false"可禁止修改分页数</div>
        </div>

        <mx-pagination class="mx5-mb40"
            *step="3"
            *total="{{=total}}"
            *sizes="{{#sizes}}"
            *size="{{=size}}" 
            *page="{{=page}}"
            mx-change="change()" />
    
        <mx-pagination class="mx5-mb40"
            *step="3"
            *sizes-change="false"
            *total="{{=total}}" 
            *sizes="{{#sizes}}"
            *size="{{=size}}" 
            *page="{{=page}}"
            mx-change="change()" />
    </div>
    <div class="mx5-clearfix">
        <div class="eg-desc flw50">
            <div class="eg-title">HTML Code</div>
            <mx-copy class="desc-oper" 
                *copy-node="{{=$viewId}}_text_1" 
                mx-success="@:{done}({id:1})">
                <span class="desc-tip" mx-html="{{=text1}}"></span>
                <i class="mx5-iconfont desc-icon">&#xe610;</i>
            </mx-copy>
            <mx-source whole="true" id="{{=$viewId}}_text_1">
                <mx-pagination 
                    *total="{{=total}}"
                    *sizes="{{#sizes}}"
                    *size="{{=size}}" 
                    *page="{{=page}}"
                    mx-change="change()" />
    
                <!-- 禁止切换分页数 -->
                <mx-pagination 
                    *sizes-change="false"
                    *total="{{=total}}" 
                    *sizes="{{#sizes}}"
                    *size="{{=size}}" 
                    *page="{{=page}}"
                    mx-change="change()" />
            </mx-source>
        </div>
        <div class="eg-desc flw50 mx5-blc">
            <div class="eg-title">JS Code</div>
            <mx-copy class="desc-oper" 
                *copy-node="{{=$viewId}}_text_2" 
                mx-success="@:{done}({id:2})">
                <span class="desc-tip" mx-html="{{=text2}}"></span>
                <i class="mx5-iconfont desc-icon">&#xe610;</i>
            </mx-copy>
            <mx-source whole="true" id="{{=$viewId}}_text_2">
import Magix5 from 'magix5';
import View from 'magix5-gallery/views/pages/base/demo';

export default View.extend({
    tmpl: '@:index.html',
    render() {
        this.digest({
            total: 400000,
            sizes: [20, 40, 50],
            page: 1,
            size: 40,
        });
    },
    'change<change>'(e) {
        // e.page 当前第几页
        // e.size 每页多少条
        // e.offset 偏移量
        this.digest({
            page: e.page,
            size: e.size
        })
    }
});
            </mx-source>
        </div>
    </div>
</div>
