<div class="example">
    <div class="eg-content">
        <div class="eg-content-tip">
            <div class="eg-content-tip-prefix">以下示例：</div>
            <div>只展示翻页器，不展示左侧详情汇总数据和分页切换器</div>
        </div>
        <mx-pagination 
            *simplify="true"
            *total="100" 
            *size="40" 
            *page="2"/>
    </div>
    <div class="eg-desc">
        <div class="eg-title">HTML Code</div>
        <mx-copy class="desc-oper" 
            *copy-node="{{=$viewId}}_text_1" 
            mx-success="@:{done}({id:1})">
            <span class="desc-tip" mx-html="{{=text1}}"></span>
            <i class="mx5-iconfont desc-icon">&#xe610;</i>
        </mx-copy>
        <mx-source whole="true" id="{{=$viewId}}_text_1">
            <mx-pagination *simplify="true" *total="100" *size="40" *page="2"/>
        </mx-source>
    </div>
</div>
