<div class="example">
    <div class="eg-content">
        <div class="eg-content-tip">
            <div class="eg-content-tip-prefix">以下示例：</div>
            <div>翻页器默认右对齐，若部分极简版本需要居中对齐或者左对齐，可产考如下实现</div>
        </div>

        <div class="mx5-mb20 mx5-color-9">居中对齐实现</div>
        <div class="mx5-mb40">
            <mx-pagination style="display: flex; justify-content: center;"
                *simplify="true"
                *hide-jump="true"
                *hide-total="true"
                *total="100" 
                *size="40" 
                *page="2"/>
        </div>
            
        <div class="mx5-mb20 mx5-color-9">左对齐实现</div>
        <div class="mx5-mb40">
            <mx-pagination style="display: flex; justify-content: flex-start;"
                *mini="true"
                *hide-total="true"
                *total="100" 
                *size="40" 
                *page="2"/>
        </div>
    </div>
    <div class="eg-desc">
        <div class="eg-title">居中对齐 HTML Code</div>
        <mx-copy class="desc-oper" 
            *copy-node="{{=$viewId}}_text_1" 
            mx-success="@:{done}({id:1})">
            <span class="desc-tip" mx-html="{{=text1}}"></span>
            <i class="mx5-iconfont desc-icon">&#xe610;</i>
        </mx-copy>
        <mx-source whole="true" id="{{=$viewId}}_text_1">
            <mx-pagination style="display: flex; justify-content: center;" 
                *simplify="true" *hide-jump="true" *hide-total="true" *total="100"  *size="40"  *page="2"/>
        </mx-source>
    </div>
    <div class="eg-desc">
        <div class="eg-title">左对齐 HTML Code</div>
        <mx-copy class="desc-oper" 
            *copy-node="{{=$viewId}}_text_2" 
            mx-success="@:{done}({id:2})">
            <span class="desc-tip" mx-html="{{=text2}}"></span>
            <i class="mx5-iconfont desc-icon">&#xe610;</i>
        </mx-copy>
        <mx-source whole="true" id="{{=$viewId}}_text_2">
            <mx-pagination style="display: flex; justify-content: flex-start;" 
                *mini="true" *hide-total="true" *total="100"  *size="40"  *page="2"/>
        </mx-source>
    </div>
</div>
