<div class="example">
    <div class="eg-content">
        <div class="eg-content-tip">
            <div class="eg-content-tip-prefix">以下示例：</div>
            <div>view自定义页面地址，view-data为传入view的数据</div>
        </div>
    
        <mx-popover *width="420" *view="@:./custom" *view-data="{{#custom}}" *placement="rb">
            <mx-btn *content="提示内容为自定义view"/>
        </mx-popover>
    </div>
    <div class="eg-desc">
        <div class="eg-title">HTML Code</div>
        <mx-copy class="desc-oper" 
            *copy-node="{{=$viewId}}_text_1" 
            mx-success="@:{done}({id:1})">
            <span class="desc-tip" mx-html="{{=text1}}"></span>
            <i class="mx5-iconfont desc-icon">&#xe610;</i>
        </mx-copy>
        <mx-source whole="true" id="{{=$viewId}}_text_1">
<mx-popover 
    *width="420" 
    *view="@:./custom" 
    *view-data="{{#custom}}" 
    *placement="rb">
    <mx-btn *content="提示内容为自定义view"/>
</mx-popover>
        </mx-source>
    </div>
</div>