.left,
.right {
    float: left;
    padding-top: var(--mx5-input-height);
    width: 100px;
    margin-right: 20px;
}

.center {
    float: left;
}

.center1 {
    margin-bottom: calc(var(--mx5-input-height) * 3 + 40px);
}