{{if block.type}}
    {{if block.title}}
    <div class="title mt32">{{=block.title}}</div>
    {{/if}}

    {{if block.tabs.length > 1}}
    <div class="custom-tab">
        <mx-tabs.box 
            mode="hollow"
            list="{{@block.tabs}}" 
            selected="{{=block.index}}"
            value-key="index"
            text-key="tabName"
            mx-change="changeTab()" data-spm-click="gostr=/alimama_bp.3.1;locaid=d5ecouter{{=block.spmIndex}}"/>
    </div>
    {{/if}}

    <div class="clearfix" mx-view="./{{=block.type}}?data={{@block.tabs[block.index]}}&biz={{@biz}}" data-spm="cc6a656c8">
        <mx-loading />
    </div>
{{/if}}