<div class="detail">
    {{if data.subTitle}}
    <div class="detail-tab" mx-html="{{=data.subTitle}}"></div>
    {{/if}}
    {{if data.title && data.titleTag}}
    <div class="title detail-title detail-title-img">
        <div class="title-img-text" mx-html="{{=data.title}}"></div>
        <img class="title-img-tag" src="{{=data.titleTag}}" />
    </div>
    {{else if data.title}}
    <div class="title detail-title" mx-html="{{=data.title}}"></div>
    {{/if}}
    {{if data.info}}
    <div class="cont-info detail-info" mx-html="{{=data.info}}"></div>
    {{/if}}
    {{if data.infoImgTitle}}
    <div class="detail-info-img-title" mx-html="{{=data.infoImgTitle}}"></div>
    {{/if}}
    {{if data.infoImg}}
    <div class="detail-info-img"><img src="{{=data.infoImg}}" /></div>
    {{/if}}

    {{if (data.quotaes && data.quotaes.length)}}
    <table class="detail-quotae">
        <tbody>
            <tr>
                {{each data.quotaes as q}}
                <td style="width: {{=(100/data.quotaes.length)}}%;">
                    <div class="quotae-num">
                        <span class="mx5-font-tahoma" mx-html="{{=q.value}}"></span>
                        {{if q.unit}}
                        <span class="quotae-unit" mx-html="{{=q.unit}}"></span>
                        {{/if}}
                    </div>
                    <div class="quotae-text" mx-html="{{=q.text}}"></div>
                </td>
                {{/each}}
            </tr>
        </tbody>
    </table>
    {{/if}}

    {{if data.btns && data.btns.length}}
    <div class="detail-btns">
        {{each data.btns as btn}}
            {{if btn.checkLogin && (!biz.user || !biz.user.nickName)}}
            <!-- 未登录且需要校验登录 -->
            <mx-btn class="custom-btn detail-btn" 
                *mode="primary"
                *content="{{=btn.text}}"
                mx-click="@:{show.login}()" data-spm-click="gostr=/alimama_bp.3.1;locaid=dc2e0e11b{{=data.spmIndex}}_detail"/>
            {{else}}
            <!-- 已登录 / 不需要校验登录 -->
            <mx-btn class="custom-btn detail-btn" 
                *mode="primary"
                *content="{{=btn.text}}"
                *link-href="{{=btn.link}}" 
                *link-target="{{=btn.outer}}?_blank" data-spm-click="gostr=/alimama_bp.3.1;locaid=dc2e0e11b{{=data.spmIndex}}_detail"/>
            {{/if}}
        {{/each}}
    </div>
    {{/if}}
    
    {{if data.link && data.link.text}}
    <div class="detail-link">
        <a rel="noopener noreferrer" href="{{=data.link.url}}" target="_blank" class="mx5-link-brand" data-spm-click="gostr=/alimama_bp.3.1;locaid=de29c1160{{=data.spmIndex}}_detail">
            {{=data.link.text}}
            <i class="minisite-iconfont detail-link-icon">&#xe63d;</i>
        </a>
    </div>
    {{/if}}
</div>