<div class="footer-banner" style="background-color: {{=data.colorBg}}; background-image: url({{=data.img}});">
    <div class="footer-banner-inner">
        {{if data.alime && data.alime.def}}
        <div class="mx5-mb40">
            {{if data.alime.title}}
            <div class="footer-infos" mx-html="{{=data.alime.title}}"></div>
            {{/if}}
            {{if data.alime.topTip}}
            <div class="footer-link" mx-html="{{=data.alime.topTip}}"></div>
            {{/if}}

            {{if devInfo.pc}}
                <div class="footer-btns">
                    <mx-btn class="custom-btn mx5-minw120"
                        *mode="primary"
                        mx-click="showAlime({alime:{{#data.alime}}})"
                        data-spm-click="gostr=/alimama_bp.3.1;locaid=d365e31ac{{=data.spmIndex}}_footer">
                        {{if data.alime.btnLogo}}<img src="{{=data.alime.btnLogo}}" class="btn-img" />{{/if}}{{=data.alime.btn}}
                    </mx-btn>
                </div>  
            {{else}}
                {{if data.alime.btnLogo}}<img src="{{=data.alime.btnLogo}}" class="alime-img"/>{{/if}}
                <div class="footer-btns">
                    <mx-btn class="custom-btn mx5-minw120"
                        *mode="primary"
                        *content="{{=data.alime.btn}}"
                        *link-href="https://ai.alimebot.taobao.com/intl/index.htm?from={{=alimeFrom}}" 
                        *link-target="_blank" 
                        data-spm-click="gostr=/alimama_bp.3.1;locaid=d365ewire{{=data.spmIndex}}_footer" />
                </div> 
            {{/if}}
            {{if data.alime.bottomTip}}
            <div class="footer-link" mx-html="{{=data.alime.bottomTip}}"></div>
            {{/if}}
        </div>
        {{/if}}

        <!-- 是否显示登陆相关的信息 -->
        {{if !data.hideLogin}}
            {{if data.info}}
            <div class="footer-infos" mx-html="{{=data.info}}"></div>
            {{/if}}
            <div class="footer-btns">
                {{if biz.user}}
                    {{if data.customEnter}}
                    <mx-btn class="custom-btn footer-btn"
                        *mode="primary"
                        *content="进入{{=biz.project}}"
                        mx-click="enter()" data-spm-click="gostr=/alimama_bp.3.1;locaid=d991bcustom{{=data.spmIndex}}_footer"/>
                    {{else}}
                    <mx-btn class="custom-btn footer-btn"
                        *mode="primary"
                        *content="进入{{=biz.project}}"
                        *link-href="{{=biz.domain}}"
                        *link-target="_blank"
                        data-spm-click="gostr=/alimama_bp.3.1;locaid=d991bb3d4{{=data.spmIndex}}_footer"/>
                    {{/if}}
                {{else}}
                <mx-btn class="custom-btn footer-btn"
                    *mode="primary"
                    *content="立即登录"
                    mx-click="@:{show.login}()" data-spm-click="gostr=/alimama_bp.3.1;locaid=d8e748f7e{{=data.spmIndex}}_footer"/>
                {{/if}}
            </div>
            <div class="footer-link">
                <span>还没有淘宝账号？</span>
                <a class="mx5-link-brand" href="https://reg.taobao.com/member/reg/fill_mobile.htm" target="_blank" data-spm-click="gostr=/alimama_bp.3.1;locaid=d534fd460{{=data.spmIndex}}_footer">立即注册&gt;</a>
            </div>
        {{/if}}
    </div>
</div>