<div class="inner">
    {{if data.subTitle}}<div class="sub-title" mx-html="{{=data.subTitle}}"></div>{{/if}}
    <div class="clearfix item-wrapper">
        {{each data.list as item i}}
        <div class="item" style="width: {{=(100/data.lineNumber)}}%;">
            {{if data.arrow}}
            <img class="arrow" src="{{=data.arrow}}" />
            {{/if}}
            {{if item.link}}
            <a class="item-link" href="{{=item.link}}" target="_blank" data-spm-click="gostr=/alimama_bp.3.1;locaid=d64e665c1{{=data.spmIndex}}_img_list">
            {{/if}}
                <img class="img" src="{{=item.img}}" />
                {{if item.title}}
                <div class="cont-title img-title" mx-html="{{=item.title}}"></div>
                {{/if}}
                {{if item.info}}
                <div class="cont-info img-info" mx-html="{{=item.info}}"></div>
                {{/if}}
            {{if item.link}}
            </a>
            {{/if}}
        </div>
        {{/each}}
    </div>
</div>