<!-- 重大故障提醒 -->
<!-- {{if (biz && biz.bizFaultInfo)}}
<mx-effects.notice type="fault">{{!biz.bizFaultInfo}}</mx-effects.notice>
{{/if}} -->

<!-- right-view 组件再次传递对象有问题，转成字符串再提交，在相应位置parse处理 -->
<!-- <mx-header 
    dark="false"
    biz-code="{{=biz.bizCode}}"
    logo="{{=biz.logo}}"
    width="{{=width}}"
    navs="{{#navs}}"
    cur="{{=curValue}}"
    login="{{#biz.needLogin}}"
    user="{{=biz.user}}"
    logout-url="{{=biz.logoutUrl}}"
    right-view="@:./login-btn"
    right-view-data="{{#biz}}"
    right-ceiling-show="true"
    mx-navchange="changeNav()"
    mx-spm-ph="anything" data-spm-click="gostr=/alimama_bp.3.1;locaid=d3fc32db6{{=biz.bizCode}}"/> -->

{{if (info && info.blocks && info.blocks.length)}}
    <div class="mx5-clearfix">
        {{each info.blocks as block blockIndex}}
        <div class="content mx5-clearfix"  style="{{=block.bg}}?background-color: {{=block.bg}};">
            {{if (block.type == 'custom-view')}}
                <!-- 自定义view -->
                <div class="mx5-clearfix mx5-pt24 mx5-pb24 mx5-text-center">自定义view占位符</div>
                <!-- <div class="mx5-clearfix" mx-view="{{=block.params}}" *biz="{{#biz}}" data-spm="ca010a0f5">
                    <mx-loading />
                </div> -->
            {{else}}
                <!-- 通用登录页自带模板 -->

                <!-- 主标题 -->
                {{if block.title}}
                <div class="title mx5-mt32">{{=block.title}}</div>
                {{/if}}

                <!-- 可切换tab -->
                {{if block.tabs.length > 1}}
                <div class="mx5-text-center mx5-mt24">
                    <mx-dropdown.box class="custom-tab"
                        *list="{{#block.tabs}}" 
                        *selected="{{=block.index}}"
                        *value-key="index"
                        *text-key="tabName"
                        mx-change="@:{change.tab}({index:'{{=blockIndex}}'})" data-spm-click="gostr=/alimama_bp.3.1;locaid=d5ec77530{{=block.spmIndex}}"/>
                </div>
                {{/if}}

                <!-- 模板具体内容 -->
                <div class="mx5-clearfix" 
                    mx-view="./{{=block.type}}" 
                    *data="{{#block.tabs[block.index]}}"
                    *biz="{{#biz}}"
                    *dev-info="{{#devInfo}}"
                    data-spm="c149dee00">
                    <mx-loading />
                </div>
            {{/if}}
        </div>
        {{/each}}
    </div>
{{else}}
    <div class="empty-login-view" mx-view="@:../../../gallery/mx-dialog/login-iframe" *data="{{#biz}}" data-spm="c601d1c8f"></div>
{{/if}}

<mx-footer class="footer"
    *width="{{=width}}" 
    *products="true"
    *biz-code="{{=biz.bizCode}}"/>

<!-- 悬浮按钮 -->
<div mx-view="@:./icons" *biz="{{#biz}}" data-spm="ce8449471"></div>
