<!-- 重大故障提醒 -->
<!-- {{if (biz && biz.bizFaultInfo)}}
<mx-effects.notice type="fault">{{!biz.bizFaultInfo}}</mx-effects.notice>
{{/if}} -->

<!-- right-view 组件再次传递对象有问题，转成字符串再提交，在相应位置parse处理 -->
<!-- <mx-header 
    dark="false"
    biz-code="{{=biz.mainBizCode}}"
    logo="{{=biz.logo}}"
    width="{{=width}}"
    navs="{{@navs}}"
    cur="{{=curValue}}"
    login="{{@biz.needLogin}}"
    user="{{=biz.user}}"
    logout-url="{{=biz.logoutUrl}}"
    right-view="@:./login-btn"
    right-view-data="{{@biz}}"
    right-ceiling-show="true"
    mx-navchange="changeNav()"
    mx-spm-ph="anything" data-spm-click="gostr=/alimama_bp.3.1;locaid=d3fc32db6{{=biz.bizCode}}"/> -->

<!-- {{if (info && info.blocks && info.blocks.length)}}
    {{each info.blocks as block blockIndex}}
    <div class="content clearfix" {{if block.bg}} style="background-color: {{=block.bg}};" {{/if}}>
        {{if (block.type == 'custom-view')}}
            <div class="clearfix" mx-view="{{=block.params}}?biz={{@biz}}" data-spm="ca010a0f5">
                <mx-loading />
            </div>
        {{else}}
            {{if block.title}}
            <div class="title mt32">{{=block.title}}</div>
            {{/if}}

            {{if block.tabs.length > 1}}
            <div class="custom-tab">
                <mx-tabs.box 
                    mode="hollow"
                    list="{{@block.tabs}}" 
                    selected="{{=block.index}}"
                    value-key="index"
                    text-key="tabName"
                    mx-change="changeTab({index:'{{=blockIndex}}'})" data-spm-click="gostr=/alimama_bp.3.1;locaid=d5ec77530{{=block.spmIndex}}"/>
            </div>
            {{/if}}

            <div class="clearfix" mx-view="./{{=block.type}}?data={{@block.tabs[block.index]}}&biz={{@biz}}" data-spm="c149dee00">
                <mx-loading />
            </div>
        {{/if}}
    </div>
    {{/each}}
{{else}}
    <div class="empty-login-view" mx-view="@:../../../gallery/mx-dialog/login-iframe?data={{#biz}}" data-spm="c601d1c8f"></div>
{{/if}} -->

<mx-footer class="footer"
    *width="{{=width}}" 
    *products="true"
    *biz-code="{{=biz.bizCode}}"/>

<!-- 悬浮按钮 -->
<div mx-view="@:./icons?biz={{#biz}}" data-spm="ce8449471"></div>
