<div class="example">
    <div class="eg-content">
        <div class="mx5-mb20 mx5-clearfix mx5-lh22">
            <div class="mx5-color-9 mx5-fl">说明：</div>
            <div class="mx5-fl">
                <div>底色为透明</div>
                <div>不同的展示版本包括不同的版权，增值电信业务经营许可证，浙公网安备号等信息</div>
                <div>默认情况下根据域名直接判断适用的吊底版本</div>
                <div>如有特殊情况通过指定bizCode来定制显示内容，需要定制可联系<mx-im.dd uid="t5z4z8s" uname="虞佳"/></div>
            </div>
        </div>
        <div class="mx5-mb20">
            <span class="mx5-color-9 mx5-mr10">域名判断的版本：</span>
            {{each types as item}}
            <mx-radio class="mx5-mr20"
                *value="{{=item.value}}"
                *text="{{=item.text}}" 
                *name="{{=$viewId}}_type" 
                *checked="{{=(item.value == currentType)}}"
                mx-change="changeType({value:'{{=item.value}}'})"/>
            {{/each}}
        </div>
        <div class="mx5-mb20">
            <span class="mx5-color-9 mx5-mr10">特殊bizCode：</span>
            {{each bizCodes as item}}
            <mx-radio class="mx5-mr20"
                *value="{{=item.value}}" 
                *text="{{=item.text}}"
                *name="{{=$viewId}}_type" 
                *checked="{{=(item.value == currentBizcode)}}"
                mx-change="changeBizCode({value:'{{=item.value}}'})"/>
            {{/each}}
        </div>
        <mx-footer *products="true" *biz-code="{{=currentBizcode}}" *type="{{=currentType}}"/>
    </div>
    <div class="eg-desc">
        <div class="eg-title">HTML Code</div>
        <mx-copy class="desc-oper" 
            *copy-node="{{=$viewId}}_text_1" 
            mx-success="@:{done}({id:1})">
            <span class="desc-tip" mx-html="{{=text1}}"></span>
            <i class="mx5-iconfont desc-icon">&#xe610;</i>
        </mx-copy>
        <mx-source id="{{=$viewId}}_text_1">
            <mx-footer *products="true" *biz-code="{{=currentBizcode}}" *type="{{=currentType}}"/>
        </mx-source>
    </div>
</div>