{{if text}}
    <label class="mx5-checkbox-label">
        <input class="mx5-checkbox {{if indeterminate}} mx5-checkbox-indeterminate {{/if}}" type="checkbox" 
            checked="{{=checked}}?"
            disabled="{{=disabled}}?"
            name="{{=name}}"
            value="{{=value}}"
            mx-change="@:{change}()"/>
        <span mx-html="{{=text}}"></span>
        {{if tagContent}}
        <span class="mx5-checkbox-tag mx5-tag" 
            style="{{if tagColor}} background-color: {{=tagColor}}; border: 1px solid {{=tagColor}}; {{/if}}">
            <span class="mx5-tag-name" mx-html="{{=tagContent}}"></span>
        </span>
        {{/if}}
    </label>
    {{if tip}}
    <mx-popover class="mx5-iconfont mx5-checkbox-pop" *content="{{=tip}}">&#xe72f;</mx-popover>
    {{/if}}
{{else}}
<input class="mx5-checkbox {{if indeterminate}} mx5-checkbox-indeterminate {{/if}}" type="checkbox" 
    checked="{{=checked}}?"
    disabled="{{=disabled}}?"
    name="{{=name}}"
    value="{{=value}}"
    mx-change="@:{change}()"/>
{{/if}}