<div class="example">
    <div class="eg-content">
        <div class="eg-content-tip">
            <div class="eg-content-tip-prefix">以下示例：</div>
            <div>选项包含操作项opers，当前支持的操作项包含['edit', 'delete']</div>
        </div>
        <div class="eg-content-tip">
            <div class="eg-content-tip-prefix">当前选中：</div>
            <div class="mx5-h40">{{=selected}}{{if (operationType && operationItem.text)}}（操作项：{{=operationItem.text}}，操作类型：{{=operationType}}）{{/if}}</div>
            <mx-dropdown class="mx5-w200"
                *list="{{#list}}" 
                *selected="{{=selected}}" 
                mx-change="change()"/>
        </div>
    </div>
    <div class="eg-desc">
        <div class="eg-title">HTML Code</div>
        <mx-copy class="desc-oper" 
            *copy-node="{{=$viewId}}_text_1" 
            mx-success="@:{done}({id:1})">
            <span class="desc-tip" mx-html="{{=text1}}"></span>
            <i class="mx5-iconfont desc-icon">&#xe610;</i>
        </mx-copy>
        <mx-source whole="true" id="{{=$viewId}}_text_1">
            <mx-dropdown class="mx5-w200"
                *list="{{#list}}" 
                *selected="{{=selected}}" 
                mx-change="change()"/>
        </mx-source>
    </div>
    <div class="eg-desc">
        <div class="eg-title">JS Code</div>
        <mx-copy class="desc-oper" 
            *copy-node="{{=$viewId}}_text_2" 
            mx-success="@:{done}({id:2})">
            <span class="desc-tip" mx-html="{{=text2}}"></span>
            <i class="mx5-iconfont desc-icon">&#xe610;</i>
        </mx-copy>
        <mx-source whole="true" id="{{=$viewId}}_text_2">
            import Magix5 from 'magix5';
            import View from 'magix5-gallery/views/pages/base/demo';

            export default View.extend({
                tmpl: '@:index.html',
                render() {
                    let list = [{
                        text: '请选择',
                        value: 0,
                        opers: []
                    }, {
                        text: '选项1',
                        value: 1,
                        opers: ['edit', 'delete'],
                    }, {
                        text: '选项2',
                        value: 2,
                        opers: ['edit', 'delete'],
                    }, {
                        text: '选项3',
                        value: 3,
                        opers: ['edit', 'delete'],
                    }];

                    this.digest({
                        list,
                        selected: list[0].value,
                        operationType: '',
                        operationItem: {},
                    });
                },
                'change<change>'(e) {
                    let { selected, operationType, operationItem, } = e;
                    let { list } = this.get();
                    if (operationType == 'delete') {
                        for (let i = 0; i < list.length; i++) {
                            if (list[i].value == operationItem.value) {
                                list.splice(i, 1);
                                break;
                            }
                        }
                    }
                    this.digest({
                        selected,
                        operationType,
                        operationItem,
                    })
                }
            })
        </mx-source>
    </div>
</div>    
