<div class="example">
    <div class="eg-content">
        <div class="eg-content-tip">
            <div class="eg-content-tip-prefix">以下示例：</div>
            <div class="mx5-mb10">自定义展示字段text-key，提交值value-key</div>
            <mx-dropdown 
                *text-key="name"
                *value-key="id"
                *selected="2"
                *list="{{#[{id:1,name:'选择1'},{id:2,name:'选择2'}]}}"
                mx-change="change()"/>
        </div>
        <div class="eg-content-tip">
            <div class="eg-content-tip-prefix">当前选中：</div>
            <div class="mx5-mb10">支持text-key = value-key</div>
            <mx-dropdown
                *text-key="id"
                *value-key="id"
                *selected="2"
                *list="{{#[{id:1},{id:2}]}}" 
                mx-change="change()"/>
        </div>
    </div>
    <div class="eg-desc">
        <div class="eg-title">HTML Code</div>
        <mx-copy class="desc-oper" 
            *copy-node="{{=$viewId}}_text_1" 
            mx-success="@:{done}({id:1})">
            <span class="desc-tip" mx-html="{{=text1}}"></span>
            <i class="mx5-iconfont desc-icon">&#xe610;</i>
        </mx-copy>
        <mx-source whole="true" id="{{=$viewId}}_text_1">
            <mx-dropdown 
                *text-key="name"
                *value-key="id"
                *selected="2"
                *list="{{#[{id:1,name:'选择1'},{id:2,name:'选择2'}]}}"
                mx-change="change()"/>

            <mx-dropdown
                *text-key="id"
                *value-key="id"
                *selected="2"
                *list="{{#[{id:1},{id:2}]}}" 
                mx-change="change()"/>
        </mx-source>
    </div>
</div>    
