<div class="example">
    <div class="eg-content">
        <div class="eg-content-tip">
            <div class="eg-content-tip-prefix">以下示例：</div>
            <div>主要品牌色按钮，对应打标默认为红色，可自定义颜色</div>
        </div>
        <div class="cont">
            <!-- 正常尺寸品牌按钮 -->
            <mx-btn mx-click="test()" *mode="primary" *content="品牌色"/>

            <!-- 正常尺寸品牌按钮 + 打标 + 标签包裹内容 -->
            <mx-btn mx-click="test()" *mode="primary" *tag-content="<i class='mx5-iconfont'>&#xe601;</i>">品牌色</mx-btn>

            <!-- 正常尺寸品牌按钮 + 打标 + 打标颜色 -->
            <mx-btn mx-click="test()" *mode="primary" *content="品牌色" *tag-content="New" *tag-color="#ffb400"/>

            <!-- 正常尺寸品牌按钮 + 打标 + 禁用 + hover禁用原因 -->
            <mx-btn mx-click="test()" disabled="true" disabled-tip="禁用原因" mode="primary" content="hover禁用原因" tag-content="New"/>

            <!-- 正常尺寸品牌按钮 + loading态 -->
            <mx-btn mx-click="test()" loading="true" mode="primary" content="品牌色"/>

            <!-- 正常尺寸品牌按钮 + loading态 + 打标 -->
            <mx-btn mx-click="test()" loading="true" mode="primary" content="品牌色" tag-content="New"/>
            
            <!-- 小号 -->
            <mx-btn mx-click="test()" mode="primary" size="small" content="小号品牌色" tag-content="New"/>

            <!-- 小号 + loading态 -->
            <mx-btn mx-click="test()" loading="true" size="small" mode="primary" content="品牌色" tag-content="New"/>
        </div>
    </div>
    <div class="eg-desc">
        <div class="eg-title">HTML Code</div>
        <mx-copy class="desc-oper" 
            *copy-node="{{=$viewId}}_text_1" 
            mx-success="@:{done}({id:1})">
            <span class="desc-tip" mx-html="{{=text1}}"></span>
            <i class="mx5-iconfont desc-icon">&#xe610;</i>
        </mx-copy>
        <mx-source whole="true" id="{{=$viewId}}_text_1">
        </mx-source>
    </div>
</div>
