<div class="eg-content">
    <div class="mx5-mb20">
        <span class="mx5-mr20">大号按钮：</span>
        <mx-btn class="mx5-mr30" *type="secondary" *content="次要按钮"/>
        <mx-btn class="mx5-mr30" *type="secondary" *content="次要按钮" *tag-content="<i class='mx5-iconfont'>&#xe601;</i>" /> 
        <mx-btn class="mx5-mr30" *type="secondary" *tag-content="New" *tag-color="#ffb400"><i class="mx5-iconfont mx5-mr5">&#xe90d;</i>次要按钮</mx-btn>
        <mx-btn class="mx5-mr30" *type="secondary" *content="次要按钮禁用" *tag-content="New" *disabled="true" />
        <mx-btn class="mx5-mr30" *type="secondary" *content="hover显示禁用原因" *tag-content="New" *disabled="true" *disabled-tip="禁用原因" />
        <mx-btn class="mx5-mr30" *type="secondary" *content="次要按钮" *tag-content="New" *loading="true"/> 
    </div>

    <div class="mx5-mb20">
        <span class="mx5-mr20">小号按钮：</span>
        <mx-btn class="mx5-mr30" *type="secondary" *small="true" *content="次要按钮"/>
        <mx-btn class="mx5-mr30" *type="secondary" *small="true" *content="次要按钮" *tag-content="<i class='mx5-iconfont'>&#xe601;</i>" /> 
        <mx-btn class="mx5-mr30" *type="secondary" *small="true" *tag-content="New" *tag-color="#ffb400"><i class="mx5-iconfont mx5-mr5">&#xe90d;</i>次要按钮</mx-btn>
        <mx-btn class="mx5-mr30" *type="secondary" *small="true" *content="次要按钮禁用" *tag-content="New" *disabled="true" />
        <mx-btn class="mx5-mr30" *type="secondary" *small="true" *content="hover显示禁用原因" *tag-content="New" *disabled="true" *disabled-tip="禁用原因" />
        <mx-btn class="mx5-mr30" *type="secondary" *small="true" *content="次要按钮" *tag-content="New" *loading="true"/> 
    </div>
</div>
<div class="eg-desc">
    <div class="eg-title">HTML Code</div>
    <mx-copy class="desc-oper" 
        *copy-node="{{=$viewId}}_text_1" 
        mx-success="@:{done}({id:1})">
        <span class="desc-tip" mx-html="{{=text1}}"></span>
        <i class="mx5-iconfont desc-icon">&#xe610;</i>
    </mx-copy>
    <mx-source whole="true" id="{{=$viewId}}_text_1">
        <mx-btn *type="secondary" *content="次要按钮"/>

        <mx-btn *type="secondary" *small="true" *content="小号次要按钮"/>
    </mx-source>
</div>