<div class="example">
    <div class="eg-content">
        <mx-btn class="mx5-mr20" 
            *content="自定义按钮" 
            *color="#ffb400" 
            *color-hover="#f1ab03"/>
            
        <mx-btn class="mx5-mr20" 
            *content="自定义按钮"
            *color="#333333" 
            *color-text="#ffb400"
            *color-hover="#333333"
            *color-hover-text="#f1ab03" />
    </div>
    <div class="eg-desc">
        <div class="eg-title">HTML Code</div>
        <mx-copy class="desc-oper" 
            *copy-node="{{=$viewId}}_text_1" 
            mx-success="@:{done}({id:1})">
            <span class="desc-tip" mx-html="{{=text1}}"></span>
            <i class="mx5-iconfont desc-icon">&#xe610;</i>
        </mx-copy>
        <mx-source whole="true" id="{{=$viewId}}_text_1">
            <mx-btn  
                *content="自定义按钮" 
                *color="#ffb400" 
                *color-hover="#f1ab03"/>
                
            <mx-btn  
                *content="自定义按钮"
                *color="#333333" 
                *color-text="#ffb400"
                *color-hover="#333333"
                *color-hover-text="#f1ab03" />
        </mx-source>
    </div>
            
</div>