<div class="example">
    <div class="eg-content">
        <div class="eg-content-tip">
            <div class="eg-content-tip-prefix">以下示例：</div>
            <div>白色按钮，对应打标默认为品牌色，可自定义颜色</div>
        </div>
        <div class="cont-bg">
            <!-- 正常尺寸白色按钮 -->
            <mx-btn *mode="white" *content="白色按钮"/>

            <!-- 正常尺寸白色按钮 + 打标 + 标签包裹内容 -->
            <mx-btn *mode="white" *tag-content="<i class='mx5-iconfont'>&#xe66f;</i>新">白色按钮</mx-btn>

            <!-- 正常尺寸白色按钮 + 打标 + 打标颜色 -->
            <mx-btn *mode="white" *content="白色按钮" *tag-content="New" *tag-color="#ffb400"/>

            <!-- 正常尺寸白色按钮 + 打标 + 禁用 + hover禁用原因 -->
            <mx-btn *disabled="true" *disabled-tip="禁用原因" *mode="white" *content="hover禁用原因" *tag-content="New"/>

            <!-- 正常尺寸白色按钮 + loading态 -->
            <mx-btn *loading="true" *mode="white" *content="白色按钮"/>

            <!-- 正常尺寸白色按钮 + loading态 + 打标 -->
            <mx-btn *loading="true" *mode="white" *content="白色按钮" *tag-content="New"/>
            
            <!-- 小号 -->
            <mx-btn *mode="white" *size="small" *content="小号白色按钮" *tag-content="New"/>

            <!-- 小号 + loading态 -->
            <mx-btn *loading="true" *size="small" *mode="white" *content="白色按钮" *tag-content="New"/>
        </div>
    </div>
    <div class="eg-desc">
        <div class="eg-title">HTML Code</div>
        <mx-copy class="desc-oper" 
            *copy-node="{{=$viewId}}_text_1" 
            mx-success="@:{done}({id:1})">
            <span class="desc-tip" mx-html="{{=text1}}"></span>
            <i class="mx5-iconfont desc-icon">&#xe610;</i>
        </mx-copy>
        <mx-source whole="true" id="{{=$viewId}}_text_1">
<!-- 正常尺寸白色按钮 -->
<mx-btn *mode="white" *content="白色按钮"/>

<!-- 正常尺寸白色按钮 + 打标 + 标签包裹内容 -->
<mx-btn *mode="white" *tag-content="<i class='mx5-iconfont'>&#xe66f;</i>新">白色按钮</mx-btn>

<!-- 正常尺寸白色按钮 + 打标 + 打标颜色 -->
<mx-btn *mode="white" *content="白色按钮" *tag-content="New" *tag-color="#ffb400"/>

<!-- 正常尺寸白色按钮 + 打标 + 禁用 + hover禁用原因 -->
<mx-btn *disabled="true" *disabled-tip="禁用原因" *mode="white" *content="hover禁用原因" *tag-content="New"/>

<!-- 正常尺寸白色按钮 + loading态 -->
<mx-btn *loading="true" *mode="white" *content="白色按钮"/>

<!-- 正常尺寸白色按钮 + loading态 + 打标 -->
<mx-btn *loading="true" *mode="white" *content="白色按钮" *tag-content="New"/>

<!-- 小号 -->
<mx-btn *mode="white" *size="small" *content="小号白色按钮" *tag-content="New"/>

<!-- 小号 + loading态 -->
<mx-btn *loading="true" *size="small" *mode="white" *content="白色按钮" *tag-content="New"/>
        </mx-source>
    </div>
            
</div>