<div class="eg-content">
    <div class="mx5-mb20">
        <a href="javascript:;" class="mx5-link-brand" mx-click="change()" data-spm-click="gostr=/alimama.99.dmp;locaid=d7f532436">点击切换按钮至loading态</a>
    </div>
    <mx-btn 
        *content="按钮"
        *loading="{{=loading}}"/>
</div>
<div class="eg-desc">
    <div class="eg-title">HTML Code</div>
    <mx-copy class="desc-oper" 
        *copy-node="{{=$viewId}}_text_1" 
        mx-success="@:{done}({id:1})">
        <span class="desc-tip" mx-html="{{=text1}}"></span>
        <i class="mx5-iconfont desc-icon">&#xe610;</i>
    </mx-copy>
    <mx-source whole="true" id="{{=$viewId}}_text_1">
        <a class="mx5-link-brand" href="javascript:;" mx-click="change()" data-spm-click="gostr=/alimama.99.dmp;locaid=ddebbfe96">点击切换按钮至loading态</a>

        <mx-btn *content="按钮" *loading="{{=loading}}"/>
    </mx-source>
</div>
<div class="eg-desc">
    <div class="eg-title">JS Code</div>
    <mx-copy class="desc-oper" 
        *copy-node="{{=$viewId}}_text_2" 
        mx-success="@:{done}({id:2})">
        <span class="desc-tip" mx-html="{{=text2}}"></span>
        <i class="mx5-iconfont desc-icon">&#xe610;</i>
    </mx-copy>
    <mx-source whole="true" id="{{=$viewId}}_text_2">
        import Magix5 from 'magix5';

        export default Magix5.View.extend({
            tmpl: '@:index.html',
            render(){
                this.digest();
            },
            'change<click>'(e) {
                this.digest({
                    loading: !this.get('loading')
                })
            }
        })
    </mx-source>
</div>