.card {
    float: left;
    display: block;
    position: relative;
    height: var(--mx5-effects-card-height);
    margin-left: var(--mx5-effects-card-h-gap);
    background: #fff;
    border-radius: var(--mx5-effects-card-radius);
    cursor: pointer;
    transition: all var(--mx5-duration) ease-out;
    background-color: var(--mx5-effects-card-color-bg);
    box-shadow: var(--mx5-effects-card-shadow);

    .card-img {
        height: var(--mx5-card-img-height);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-top-left-radius: var(--mx5-effects-card-radius);
        border-top-right-radius: var(--mx5-effects-card-radius);
    }

    .card-tag-text {
        position: absolute;
        top: var(--mx5-card-gap-ver);
        left: var(--mx5-card-gap-hor);
        z-index: 3;
    }

    .card-tag-left {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        border-top-left-radius: var(--mx5-effects-card-radius);
        overflow: hidden;
    }

    .card-tag-right {
        position: absolute;
        top: 0;
        right: 0;
        border-top-right-radius: var(--mx5-effects-card-radius);
        overflow: hidden;
    }

    .card-info {
        padding: var(--mx5-card-gap-ver) var(--mx5-card-gap-hor);
    }

    .card-icon,
    .card-hover-icon {
        transition: opacity var(--mx5-duration);

        img {
            display: inline-block;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .card-title {
        position: relative;
        display: flex;
        height: calc(var(--mx5-card-title-line-height) * var(--mx5-card-title-line));

        .card-title-text {
            flex: 1;

            .card-title-text-inner {
                line-height: var(--mx5-card-title-line-height);
                font-size: var(--mx5-effects-card-title-font-size);
                color: var(--mx5-card-title-color);
                transition: color var(--mx5-duration), opacity var(--mx5-duration);
                display: -webkit-box;
                -webkit-line-clamp: var(--mx5-card-title-line);
                /* autoprefixer: off */
                -webkit-box-orient: vertical;
                /* autoprefixer: on */
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        .card-title-tag {
            display: inline-flex;
            align-items: center;
        }
    }

    .card-tip {
        height: calc(var(--mx5-card-tip-line-height) * var(--mx5-card-tip-line));
        line-height: var(--mx5-card-tip-line-height);
        margin-top: var(--mx5-card-tip-top);
        font-size: var(--mx5-effects-card-tip-font-size);
        color: #666;
        transition: color var(--mx5-duration), opacity var(--mx5-duration);
        display: -webkit-box;
        -webkit-line-clamp: var(--mx5-card-tip-line);
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .card-quotaes {
        position: relative;
        display: table;
        width: 100%;
        margin-top: var(--mx5-card-quotae-top);
        padding-top: var(--mx5-card-quotae-top);

        .card-quotae {
            position: relative;
            display: table-cell;
            width: 100%;
            height: var(--mx5-card-quotae-height);
            vertical-align: middle;
            text-align: center;
        }

        .quotae-num,
        .quotae-text {
            height: calc(var(--mx5-card-quotae-height) / 2);
            line-height: calc(var(--mx5-card-quotae-height) / 2);
            white-space: nowrap;
            word-wrap: normal;
            text-align: center;
        }

        .quotae-num {
            font-size: 20px;
            font-weight: bold;
            color: var(--mx5-color-brand);
        }

        .quotae-text {
            font-size: 12px;
            color: #666;
        }

        .card-quotae-tip {
            height: var(--mx5-card-quotae-height);
            line-height: calc(var(--mx5-card-quotae-height) / 2);
            color: #666;
            text-align: left;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* autoprefixer: off */
            -webkit-box-orient: vertical;
            /* autoprefixer: on */
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 12px;
        }

        &::after {
            content: ' ';
            position: absolute;
            top: 0;
            left: calc(0px - var(--mx5-card-gap-hor));
            right: calc(0px - var(--mx5-card-gap-hor));
            height: 0;
            border-top: 1px solid var(--mx5-effects-card-color-border);
        }
    }

    .card-btn {
        --mx5-btn-border: var(--mx5-color-brand);
        --mx5-btn-bg: transparent;
        --mx5-btn-text: var(--mx5-color-brand);
        --mx5-btn-border-hover: var(--mx5-color-brand);
        --mx5-btn-bg-hover: var(--mx5-color-brand);
        --mx5-btn-text-hover: #fff;
        --mx5-btn-font-size: var(--mx5-card-btn-font);
        --mx5-input-height: var(--mx5-card-btn-height);
        width: 100%;
        margin-top: var(--mx5-card-btn-top);

        .card-btn-icon {
            font-size: 12px;
            margin-left: 4px;
            transform: scale(0.9);
        }
    }

    &.highlight,
    &:hover {
        .card-title {
            .card-title-text {
                .card-title-text-inner {
                    color: var(--mx5-card-title-color);
                }
            }
        }

        .card-sub-title {
            color: #333;
        }

        .card-tip {
            color: #666;
        }

        .card-btn {
            --mx5-btn-border: var(--mx5-color-brand);
            --mx5-btn-bg: var(--mx5-color-brand);
            --mx5-btn-text: #fff;
        }
    }

    &:hover {
        margin-top: calc(0px - var(--mx5-effects-card-v-gap) / 3);
    }
}

.card-wrapper {
    --mx5-effects-card-height: calc(var(--mx5-card-img-height) + var(--mx5-card-gap-ver) * 2 + var(--mx5-card-icon-height) + var(--mx5-card-icon-bottom) + var(--mx5-card-title-line-height) * var(--mx5-card-title-line) + var(--mx5-card-sub-title-height) + var(--mx5-card-tip-top) + var(--mx5-card-tip-line-height) * var(--mx5-card-tip-line) + var(--mx5-card-btn-top) + var(--mx5-card-btn-height) + var(--mx5-card-quotae-top) * 2 + var(--mx5-card-quotae-height)) + var(--mx5-card-btn-links-height) + var(--mx5-card-link-line-height) * var(--mx5-card-link-line);
    height: calc(var(--mx5-effects-card-height) + var(--mx5-effects-card-v-gap) * 2);
    margin-top: calc(0px - var(--mx5-effects-card-v-gap));
    margin-bottom: calc(0px - var(--mx5-effects-card-v-gap));
    margin-left: calc(0px - var(--mx5-effects-card-h-gap));
    margin-right: calc(0px - var(--mx5-effects-card-h-gap));

    .card-cont {
        padding-top: var(--mx5-effects-card-v-gap);
        padding-bottom: var(--mx5-effects-card-v-gap);
    }

    &.carousel-common-list,
    &.flat-common-list {
        --mx5-card-img-height: 200px;
        --mx5-card-title-line-height: 28px;
        --mx5-card-title-line: 1;
        --mx5-card-title-color: #333;
        --mx5-card-sub-title-height: 0px;
        --mx5-card-gap-ver: 16px;
        --mx5-card-gap-hor: 24px;
        --mx5-card-icon-height: 0px;
        --mx5-card-icon-bottom: 0px;
        --mx5-card-tip-line-height: 18px;
        --mx5-card-tip-line: 2;
        --mx5-card-tip-top: 8px;
        --mx5-card-btn-h-gap: var(--mx5-btn-h-gap);
        --mx5-card-btn-font: 14px;
        --mx5-card-btn-height: 40px;
        --mx5-card-btn-top: 16px;
        --mx5-card-btn-links-font: 0px;
        --mx5-card-btn-links-height: 0px;
        --mx5-card-quotae-top: 0px;
        --mx5-card-quotae-height: 0px;
        --mx5-card-link-line-height: 0px;
        --mx5-card-link-line: 0;

        .card-icon,
        .card-hover-icon,
        .card-sub-title,
        .card-btn-icon,
        .card-btn-links,
        .card-links {
            display: none;
        }
    }

    &.carousel-small-list,
    &.flat-small-list {
        --mx5-card-img-height: 132px;
        --mx5-card-title-line-height: 28px;
        --mx5-card-title-line: 1;
        --mx5-card-title-color: #333;
        --mx5-card-sub-title-height: 0px;
        --mx5-card-gap-ver: 16px;
        --mx5-card-gap-hor: 16px;
        --mx5-card-icon-height: 0px;
        --mx5-card-icon-bottom: 0px;
        --mx5-card-tip-line-height: 18px;
        --mx5-card-tip-line: 2;
        --mx5-card-tip-top: 8px;
        --mx5-card-btn-h-gap: var(--mx5-btn-small-h-gap);
        --mx5-card-btn-font: 12px;
        --mx5-card-btn-height: var(--mx5-input-height);
        --mx5-card-btn-top: 16px;
        --mx5-card-btn-links-font: 0px;
        --mx5-card-btn-links-height: 0px;
        --mx5-card-quotae-top: 0px;
        --mx5-card-quotae-height: 0px;
        --mx5-card-link-line-height: 0px;
        --mx5-card-link-line: 0;

        .card-icon,
        .card-hover-icon,
        .card-sub-title,
        .card-btn-icon,
        .card-btn-links,
        .card-links {
            display: none;
        }
    }

    &.carousel-common-quota,
    &.flat-common-quota {
        --mx5-card-img-height: 200px;
        --mx5-card-title-line-height: 28px;
        --mx5-card-title-line: 1;
        --mx5-card-title-color: #333;
        --mx5-card-sub-title-height: 0px;
        --mx5-card-gap-ver: 16px;
        --mx5-card-gap-hor: 24px;
        --mx5-card-icon-height: 0px;
        --mx5-card-icon-bottom: 0px;
        --mx5-card-tip-line-height: 18px;
        --mx5-card-tip-line: 1;
        --mx5-card-tip-top: 0px;
        --mx5-card-btn-h-gap: var(--mx5-btn-h-gap);
        --mx5-card-btn-font: 14px;
        --mx5-card-btn-height: 40px;
        --mx5-card-btn-top: 16px;
        --mx5-card-btn-links-font: 0px;
        --mx5-card-btn-links-height: 0px;
        --mx5-card-quotae-top: 16px;
        --mx5-card-quotae-height: 42px;
        --mx5-card-link-line-height: 0px;
        --mx5-card-link-line: 0;

        .card-icon,
        .card-hover-icon,
        .card-sub-title,
        .card-btn-icon,
        .card-btn-links,
        .card-links {
            display: none;
        }
    }

    &.carousel-icon-list,
    &.flat-icon-list {
        --mx5-card-img-height: 0px;
        --mx5-card-title-line-height: 38px;
        --mx5-card-title-line: 1;
        --mx5-card-title-color: var(--mx5-color-brand);
        --mx5-card-sub-title-height: 38px;
        --mx5-card-gap-ver: 16px;
        --mx5-card-gap-hor: 24px;
        --mx5-card-icon-height: 0px;
        --mx5-card-icon-bottom: 0px;
        --mx5-card-tip-line-height: 20px;
        --mx5-card-tip-line: 2;
        --mx5-card-tip-top: 8px;
        --mx5-card-btn-h-gap: var(--mx5-btn-h-gap);
        --mx5-card-btn-font: 14px;
        --mx5-card-btn-height: 40px;
        --mx5-card-btn-top: 16px;
        --mx5-card-btn-links-font: 0px;
        --mx5-card-btn-links-height: 0px;
        --mx5-card-quotae-top: 0px;
        --mx5-card-quotae-height: 0px;
        --mx5-card-link-line-height: 0px;
        --mx5-card-link-line: 0;

        .card-hover-icon,
        .card-img,
        .card-btn-icon,
        .card-btn-links,
        .card-links {
            display: none;
        }

        .card-icon {
            position: absolute;
            z-index: 2;
            top: calc(var(--mx5-card-gap-ver) + 2px);
            right: var(--mx5-card-gap-hor);
            width: calc(var(--mx5-card-title-line-height) + var(--mx5-card-sub-title-height) - 4px);
            height: calc(var(--mx5-card-title-line-height) + var(--mx5-card-sub-title-height) - 4px);
        }

        .card-title,
        .card-sub-title {
            padding-right: calc(var(--mx5-card-title-line-height) + var(--mx5-card-sub-title-height) - 12px)
        }

        .card-sub-title {
            height: var(--mx5-card-sub-title-height);
            line-height: var(--mx5-card-sub-title-height);
            font-size: var(--mx5-effects-card-sub-title-font-size);
            white-space: nowrap;
            word-wrap: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #333;
        }
    }

    &.carousel-hover-list,
    &.flat-hover-list {
        --mx5-card-img-height: 0px;
        --mx5-card-title-line-height: 52px;
        --mx5-card-title-line: 1;
        --mx5-card-title-color: var(--mx5-color-brand);
        --mx5-card-sub-title-height: 0px;
        --mx5-card-gap-ver: 24px;
        --mx5-card-gap-hor: 24px;
        --mx5-card-icon-height: 0px;
        --mx5-card-icon-bottom: 0px;
        --mx5-card-tip-line-height: 20px;
        --mx5-card-tip-line: 2;
        --mx5-card-tip-top: 16px;
        --mx5-card-btn-h-gap: var(--mx5-btn-small-h-gap);
        --mx5-card-btn-font: var(--mx5-btn-small-font-size);
        --mx5-card-btn-height: var(--mx5-input-small-height);
        --mx5-card-btn-top: 16px;
        --mx5-card-btn-links-font: 0px;
        --mx5-card-btn-links-height: 0px;
        --mx5-card-quotae-top: 0px;
        --mx5-card-quotae-height: 0px;
        --mx5-card-link-line-height: 0px;
        --mx5-card-link-line: 0;

        .card {
            &::after {
                opacity: 0;
                content: ' ';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                border-radius: var(--mx5-effects-card-radius);
                background-color: var(--mx5-color-brand);
                background-image: linear-gradient(-145deg, var(--mx5-color-brand) 0%, var(--mx5-color-brand-gradient, var(--mx5-color-brand)) 100%);
                transition: all var(--mx5-duration);
            }
        }

        .card-info {
            position: relative;
            z-index: 2;
        }

        .card-sub-title,
        .card-img,
        .card-btn-links,
        .card-links {
            display: none;
        }

        .card-title {
            font-weight: bold;

            &::before {
                opacity: .5;
                content: ' ';
                position: absolute;
                left: 0;
                top: 50%;
                width: 18px;
                height: 2px;
                margin-top: calc(var(--mx5-effects-card-title-font-size) / 2 + 8px);
                background-color: var(--mx5-color-brand);
                border-radius: 4px;
                transition: all var(--mx5-duration);
            }
        }

        .card-hover-icon,
        .card-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            z-index: 2;
            top: calc(var(--mx5-card-gap-ver) - 8px);
            right: var(--mx5-card-gap-hor);
            width: calc(var(--mx5-card-title-line-height) + var(--mx5-card-sub-title-height) + 16px);
            height: calc(var(--mx5-card-title-line-height) + var(--mx5-card-sub-title-height) + 16px);
            border-radius: 50%;

            >* {
                transition: all var(--mx5-duration);
            }
        }

        .card-icon {
            opacity: 1;
            background-color: var(--mx5-color-brand-opacity);
            color: var(--mx5-color-brand);

            >* {
                color: var(--mx5-color-brand);
            }
        }

        .card-hover-icon {
            opacity: 0;
            background-color: var(--mx5-color-brand-hover);
            color: #fff;

            >* {
                color: #fff;
            }
        }

        .card-btn {
            --mx5-btn-border: transparent;
            --mx5-btn-bg: transparent;
            --mx5-btn-text: #333;
            --mx5-btn-border-hover: #fff;
            --mx5-btn-bg-hover: #fff;
            --mx5-btn-text-hover: var(--mx5-color-brand);
            position: relative;
            left: calc(0px - var(--mx5-card-btn-h-gap));
            width: unset;
            transition: left var(--mx5-duration);
        }

        .card.highlight,
        .card:hover {
            &::after {
                opacity: 1;
            }

            .card-title {
                .card-title-text {
                    .card-title-text-inner {
                        color: #fff;
                    }
                }

                &::before {
                    background-color: #fff;
                }
            }

            .card-tip {
                opacity: .7;
                color: #fff;
            }

            .card-icon {
                opacity: 0;
            }

            .card-hover-icon {
                opacity: 1;
            }

            .card-btn {
                --mx5-btn-border: #fff;
                --mx5-btn-bg: #fff;
                --mx5-btn-text: var(--mx5-color-brand);
                left: 0;
            }
        }
    }

    &.carousel-logo-list,
    &.flat-logo-list {
        --mx5-card-img-height: 0px;
        --mx5-card-title-line-height: calc(var(--mx5-effects-card-title-font-size) + 16px);
        --mx5-card-title-line: 1;
        --mx5-card-title-color: #333;
        --mx5-card-sub-title-height: 0px;
        --mx5-card-gap-ver: 32px;
        --mx5-card-gap-hor: 32px;
        --mx5-card-icon-height: 30px;
        --mx5-card-icon-bottom: 16px;
        --mx5-card-tip-line-height: 20px;
        --mx5-card-tip-line: 3;
        --mx5-card-tip-top: 0px;
        --mx5-card-btn-h-gap: var(--mx5-btn-h-gap);
        --mx5-card-btn-font: 14px;
        --mx5-card-btn-height: 40px;
        --mx5-card-btn-top: 32px;
        --mx5-card-btn-links-font: 0px;
        --mx5-card-btn-links-height: 0px;
        --mx5-card-quotae-top: 0px;
        --mx5-card-quotae-height: 0px;
        --mx5-card-link-line-height: 0px;
        --mx5-card-link-line: 0;

        .card-hover-icon,
        .card-img,
        .card-sub-title,
        .card-btn-links,
        .card-links {
            display: none;
        }

        .card-icon {
            height: var(--mx5-card-icon-height);
            margin-bottom: var(--mx5-card-icon-bottom);
        }

        .card-btn {
            width: unset;
            min-width: 140px;
        }
    }

    &.carousel-btns-list,
    &.flat-btns-list {
        --mx5-card-img-height: 200px;
        --mx5-card-title-line-height: 28px;
        --mx5-card-title-line: 1;
        --mx5-card-title-color: #333;
        --mx5-card-sub-title-height: 0px;
        --mx5-card-gap-ver: 16px;
        --mx5-card-gap-hor: 24px;
        --mx5-card-icon-height: 0px;
        --mx5-card-icon-bottom: 0px;
        --mx5-card-tip-line-height: 18px;
        --mx5-card-tip-line: 2;
        --mx5-card-tip-top: 8px;
        --mx5-card-btn-h-gap: 0px;
        --mx5-card-btn-font: 0px;
        --mx5-card-btn-height: 0px;
        --mx5-card-btn-top: 0px;
        --mx5-card-btn-links-font: 14px;
        --mx5-card-btn-links-height: 40px;
        --mx5-card-quotae-top: 0px;
        --mx5-card-quotae-height: 0px;
        --mx5-card-link-line-height: 0px;
        --mx5-card-link-line: 0;

        .card-icon,
        .card-hover-icon,
        .card-sub-title,
        .card-btn,
        .card-links {
            display: none;
        }

        .card-btn-links {
            height: var(--mx5-card-btn-links-height);
            border-top: 1px solid var(--mx5-effects-card-color-border, var(--mx5-border-color));

            .card-btn-link {
                float: left;
                box-sizing: border-box;
                height: var(--mx5-card-btn-links-height);
                padding: 10px 0;
                line-height: calc(var(--mx5-card-btn-links-height) - 20px);
                text-align: center;
                font-size: var(--mx5-card-btn-links-font);
                color: var(--mx5-color-brand);
                border-right: 1px solid var(--mx5-effects-card-color-border, var(--mx5-border-color));

                &:last-child {
                    border-right: 0 none;
                }

                &:hover {
                    color: var(--mx5-color-brand-hover);
                }
            }
        }
    }

    &.carousel-links-list,
    &.flat-links-list {
        --mx5-card-img-height: 0px;
        --mx5-card-title-line-height: 42px;
        --mx5-card-title-line: 1;
        --mx5-card-title-color: #333;
        --mx5-card-sub-title-height: 0px;
        --mx5-card-gap-ver: 24px;
        --mx5-card-gap-hor: 24px;
        --mx5-card-icon-height: 80px;
        --mx5-card-icon-bottom: 8px;
        --mx5-card-tip-line-height: 0px;
        --mx5-card-tip-line: 0;
        --mx5-card-tip-top: 0px;
        --mx5-card-btn-h-gap: var(--mx5-btn-h-gap);
        --mx5-card-btn-font: 14px;
        --mx5-card-btn-height: 40px;
        --mx5-card-btn-top: 12px;
        --mx5-card-btn-links-font: 0px;
        --mx5-card-btn-links-height: 0px;
        --mx5-card-quotae-top: 0px;
        --mx5-card-quotae-height: 0px;
        --mx5-card-link-line-height: 30px;
        --mx5-card-link-line: 3;

        .card-hover-icon,
        .card-img,
        .card-sub-title,
        .card-tip,
        .card-btn-icon,
        .card-btn-links {
            display: none;
        }

        .card-icon {
            display: block;
            height: var(--mx5-card-icon-height);
            margin: 0 auto var(--mx5-card-icon-bottom);
            text-align: center;
        }

        .card-title {
            text-align: center;
        }

        .card-links {
            height: calc(var(--mx5-card-link-line-height) * var(--mx5-card-link-line));
            overflow: hidden;

            .card-link {
                position: relative;
                display: block;
                height: var(--mx5-card-link-line-height);
                padding-right: 20px;
                line-height: var(--mx5-card-link-line-height);
                white-space: nowrap;
                word-wrap: normal;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #666;
                transition: all var(--mx5-duration);

                .card-link-arrow {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 20px;
                    height: var(--mx5-card-link-line-height);
                    line-height: var(--mx5-card-link-line-height);
                    text-align: right;
                    font-size: 12px;
                    transform: scale(.8);
                }

                &:hover {
                    color: var(--mx5-color-brand);
                }
            }
        }
    }
}