{{if content}}
    {{if (tip || tipView)}}
    <mx-popover class="mx5-tag" id="{{=$viewId}}_tag"
        style="{{=styles}}"
        *content="{{=tip}}"
        *view="{{=tipView}}??"
        *view-data="{{#tipData}}??"
        *width="{{=tipWidth}}??" 
        *placement="{{=tipPlacement}}??">
        <span class="mx5-tag-name" id="{{=$viewId}}_tag_name" mx-html="{{=content}}"></span>
    </mx-popover>
    <!-- <mx-popover class="mx5-tag" id="{{=$viewId}}_tag"
        style="{{=styles}}" 
        *content="{{=tip}}"
        *view="{{=tipView}}"
        *view-data="{{#tipData}}"
        *width="{{=tipWidth}}" 
        *placement="{{=tipPlacement}}"
        *align="{{=tipAlign}}">
        <span class="mx5-tag-name" id="{{=$viewId}}_tag_name" mx-html="{{=content}}"></span>
    </mx-popover> -->
    {{else}}
    <span class="mx5-tag" style="{{=styles}}" id="{{=$viewId}}_tag">
        <span class="mx5-tag-name" mx-html="{{=content}}" id="{{=$viewId}}_tag_name"></span>
    </span>
    {{/if}}
{{/if}}