<div class="eg-content">
    <div class="mx5-mb20">
        <span class="mx5-color-9">以下示例：</span>
        需要复制另外一个显示节点的内容，配置 copy-node 指向需要复制的节点
    </div>
    <div class="mx5-mb20 mx5-clearfix">
        <input id="{{=$viewId}}_node" value="Magix棒棒的！" />
        <mx-copy class="mx5-ml10"
            *copy-node="{{=$viewId}}_node" 
            mx-success="copy()">
            <mx-btn *content="复制"/>
        </mx-copy>
        {{if success}}
        <span class="mx5-color-pass mx5-ml10 vmt"><i class="mx5-iconfont mx5-mr5">&#xe729;</i>复制成功</span>
        {{/if}}
    </div>
</div>
<div class="eg-desc">
    <div class="eg-title">HTML Code</div>
    <mx-copy class="desc-oper" 
        *copy-node="{{=$viewId}}_text_1" 
        mx-success="@:{done}({id:1})">
        <span class="desc-tip" mx-html="{{=text1}}"></span>
        <i class="mx5-iconfont desc-icon">&#xe610;</i>
    </mx-copy>
    <mx-source whole="true" id="{{=$viewId}}_text_1">
        <mx-btn *content="主要按钮"/>    
    </mx-source>
</div>