<div class="eg-content">
    <div class="mx5-mb20 mx5-clearfix">
        <div class="mx5-fl mx5-color-9">以下示例：</div>
        <div class="mx5-fl">
            <div>数值动画组件，配置内容支持包含非数字，只挑取其中的数字进行动画</div>
        </div>
    </div>
    <!-- <div class="mb20 clearfix">
        <div class="fl lh32 color-9">delay：</div>
        <div class="fl">
            <span class="mr5">整体延迟</span>
            <mx-input class="w100 mr5" 
                value="{{:setting.delay}}" />
            <span>ms开始动画</span>
        </div>
    </div>
    <div class="mb20 clearfix">
        <div class="fl lh32 color-9">duration：</div>
        <div class="fl">
            <span class="mr5">动画持续</span>
            <mx-input class="w100 mr5" 
                value="{{:setting.duration}}"/>
            <span>ms</span>
        </div>
    </div>
    <div class="mb20 clearfix">
        <div class="fl lh32 color-9">number-delay：</div>
        <div class="fl">
            <span class="mr5">单个数字延迟</span>
            <mx-input class="w100 mr5" 
                value="{{:setting.numberDelay}}" />
            <span>ms开始动画，支持负数</span>
        </div>
    </div> -->
    <div class="mx5-mb20 mx5-clearfix">
        <div class="mx5-fl mx5-color-9">举例说明：</div>
        <div class="mx5-fl">
            <div>数字123，delay=200ms，duration=400ms，number-delay=20ms，则数字1延迟200ms开始动画400ms，数字2延迟220ms开始动画400ms，数字1延迟240ms开始动画400ms</div>
            <div>数字123，delay=200ms，duration=400ms，number-delay= -20ms，则数字1延迟200ms开始动画400ms，数字2延迟180ms开始动画400ms，数字1延迟160ms开始动画400ms</div>
        </div>
    </div>
    <div class="mx5-mb20">
        <mx-btn class="mx5-mr10" mx-click="add()" *content="加1423.08运行" />
        <mx-btn class="mx5-mr10" mx-click="sub()" *content="减800.23运行" />
    </div>
    <mx-number 
        *num="{{=str}}"
        *delay="{{=delay}}"
        *duration="{{=duration}}"
        *number-delay="{{=numberDelay}}"/>
</div>
<div class="eg-desc">
    <div class="eg-title">HTML Code</div>
    <mx-copy class="desc-oper" 
        *copy-node="{{=$viewId}}_text_1" 
        mx-success="@:{done}({id:1})">
        <span class="desc-tip" mx-html="{{=text1}}"></span>
        <i class="mx5-iconfont desc-icon">&#xe610;</i>
    </mx-copy>
    <mx-source whole="true" id="{{=$viewId}}_text_1">
        <mx-number *num="1,842.68" />
    </mx-source>
</div>