<div class="example">
    <div class="eg-content">
        <div class="mx5-mb20 mx5-clearfix">
            <div class="mx5-fl mx5-color-9">以下示例：</div>
            <div class="mx5-fl">
                <div>支持配置color，font-size，line-height自定义数值样式</div>
            </div>
        </div>
        <div class="mx5-mb20">
            <mx-btn class="mx5-mr10" mx-click="add()" *content="加1423.08运行" />
            <mx-btn class="mx5-mr10" mx-click="sub()" *content="减800.23运行" />
        </div>
        <mx-number 
            *animation="true"
            *num="{{=num}}"
            *precision="2"
            *color="#ffb400"
            *font-size="24"/>
    </div>
    <div class="eg-desc">
        <div class="eg-title">HTML Code</div>
        <mx-copy class="desc-oper" 
            *copy-node="{{=$viewId}}_text_1" 
            mx-success="@:{done}({id:1})">
            <span class="desc-tip" mx-html="{{=text1}}"></span>
            <i class="mx5-iconfont desc-icon">&#xe610;</i>
        </mx-copy>
        <mx-source whole="true" id="{{=$viewId}}_text_1">
            <mx-number *num="1,842.68" *precision="2" *color="#ffb400" *font-size="24"/>
        </mx-source>
    </div>
</div>