<div class="example">
    <div class="eg-content">
        <div class="mx5-lh22">将dialog的方法merge到view上</div>
        <div class="mx5-lh22">1. this.mxDialog()</div>
        <div class="mx5-lh22">2. 打开多个浮层时，新开浮层总是在最上方</div>
        <div class="mx5-lh22">3. 提供一键关闭所有浮层的方法</div>
        <div class="mx5-lh22 mx5-mb20">4. closable = true 的浮层，点击空白处自动关闭浮层</div>
        <div class="mx5-mb20">
            <mx-btn class="mx5-mr20" *mode="primary" 
                *content="打开浮层"
                mx-click="open1()" />
            <mx-btn class="mx5-mr20" *mode="primary" 
                *content="alert"
                mx-click="open2()" />
            <mx-btn class="mx5-mr20" *mode="primary" 
                *content="confirm"
                mx-click="open3()" />
        </div> 
    </div>
    <div class="mx5-clearfix">
        <div class="eg-desc flw50">
            <div class="eg-title">HTML Code</div>
            <mx-copy class="desc-oper" 
                *copy-node="{{=$viewId}}_text_1" 
                mx-success="@:{done}({id:1})">
                <span class="desc-tip" mx-html="{{=text1}}"></span>
                <i class="mx5-iconfont desc-icon">&#xe610;</i>
            </mx-copy>
            <mx-source whole="true" id="{{=$viewId}}_text_1">
                <mx-btn class="mx5-mr20" *mode="primary" 
                    *content="打开浮层"
                    mx-click="open1()" />
            </mx-source>
        </div>
        <div class="eg-desc flw50 mx5-blc">
            <div class="eg-title">JS Code</div>
            <mx-copy class="desc-oper" 
                *copy-node="{{=$viewId}}_text_2" 
                mx-success="@:{done}({id:2})">
                <span class="desc-tip" mx-html="{{=text2}}"></span>
                <i class="mx5-iconfont desc-icon">&#xe610;</i>
            </mx-copy>
            <mx-source whole="true" id="{{=$viewId}}_text_2">
                import Base from '../base/doc';
                import Dialog from '../../../gallery/mx-dialog/index';

                module.exports = Base.extend({
                    tmpl: '@:./3.html',
                    render() {
                        this.digest();
                    },
                    'open1<click>'(e) {
                        this.mxDialog('@:./multi', {
                            number: 1,
                            width: 800
                        });
                    },
                    'open2<click>'() {
                        this.alert('alert test');
                    },
                    'open3<click>'() {
                        this.confirm('confirm test');
                    }
                }).merge(Dialog);
            </mx-source>
        </div>
    </div>
</div>