<div class="mx5-dialog-header" id="{{= $viewId }}_hd">
    <span class="mx5-fs16">多个带modal的浮层</span>
</div>
<div class="mx5-dialog-body" id="{{= $viewId }}_bd">
    <div class="mx5-mb20">浮层{{=number}}</div>
    <!-- <a href="javascript:;" class="color-brand" mx-click="test()">test</a> -->
    <div class="mx5-mb20">
        <mx-btn mx-click="modal()" *mode="primary" *content="再开一个"/>
    </div>
    {{if number==2}}
        <div style="height:2000px"></div>
    {{/if}}
    <div>
        <mx-btn mx-click="closeAll()" *mode="primary" *content="关闭所有展开浮层"/>
    </div>
</div>
<div class="mx5-dialog-footer" id="{{= $viewId }}_ft">
    <mx-btn mx-click="cancel()" *content="取消"/>
</div>    
