<div class="example">
    <div class="eg-content">
        <div class="mb20 clearfix lh22">
            <div class="color-9 fl">以下示例：</div>
            <div class="fl">
                <div>组件支持配置size+page，或者size+offset</div>
                <div>当同时配置size+page+offset时，已page为准进行计算</div>
            </div>
        </div>

        <mx-pagination class="mb20"
            total="100" 
            size="30" 
            offset="30"/>

        <mx-pagination 
            total="100" 
            size="30" 
            page="3"
            offset="30"/>
    </div>
    <div class="clearfix">
        <div class="eg-desc half">
            <div class="eg-title">size + offset</div>
            <mx-copy copy-node="{{=viewId}}_text_1" class="desc-oper" 
                mx-success="done({id:1})">
                <span class="desc-tip">{{!text1}}</span>
                <i class="mc-iconfont desc-icon">&#xe610;</i>
            </mx-copy>
            <pre id="{{=viewId}}_text_1">
&lt;mx-pagination
    total="100" 
    size="30" 
    offset="30"/&gt;
            </pre>
        </div>
        <div class="eg-desc half half-right">
            <div class="eg-title">size + page</div>
            <mx-copy copy-node="{{=viewId}}_text_2" class="desc-oper" 
                mx-success="done({id:2})">
                <span class="desc-tip">{{!text2}}</span>
                <i class="mc-iconfont desc-icon">&#xe610;</i>
            </mx-copy>
            <pre id="{{=viewId}}_text_2">
&lt;!-- 配置了page的情况下忽略offset配置 --&gt;
&lt;mx-pagination 
    total="100" 
    size="30" 
    page="3"
    offset="30"/&gt;
            </pre>
        </div>
    </div>
</div>