<div class="example">
    <div class="eg-content">
        <mx-pagination class="mb20"
            total="{{=total}}" 
            size="30" 
            offset="30"/>

        <mx-pagination class="mb20"
            simplify="true"
            total="{{=total}}" 
            size="30" 
            offset="30"/>

        <mx-pagination 
            mini="true"
            total="{{=total}}" 
            size="30" 
            page="3"
            offset="30"/>

        <!-- mode="circle" 千牛用 fusion主题 -->
        <mx-pagination class="mb20"
            mode="circle"
            total="{{=total}}" 
            size="30" 
            offset="30"/>

        <!-- mode="circle" 千牛用 fusion主题 -->
        <mx-pagination class="mb20"
            mode="circle"
            simplify="true"
            total="{{=total}}" 
            size="30" 
            offset="30"/>

        <!-- mode="circle" 千牛用 fusion主题 -->
        <mx-pagination 
            mode="circle"
            mini="true"
            total="{{=total}}" 
            size="30" 
            page="3"
            offset="30"/>
    </div>
    <div class="clearfix">
        <div class="eg-desc half">
            <div class="eg-title">size + offset</div>
            <mx-copy copy-node="{{=viewId}}_text_1" class="desc-oper" 
                mx-success="done({id:1})">
                <span class="desc-tip">{{!text1}}</span>
                <i class="mc-iconfont desc-icon">&#xe610;</i>
            </mx-copy>
            <pre id="{{=viewId}}_text_1">
&lt;mx-pagination class="mb20"
    simplify="true"
    total="{{=total}}" 
    size="30" 
    offset="30"/&gt;
            </pre>
        </div>
        <div class="eg-desc half half-right">
            <div class="eg-title">size + page</div>
            <mx-copy copy-node="{{=viewId}}_text_2" class="desc-oper" 
                mx-success="done({id:2})">
                <span class="desc-tip">{{!text2}}</span>
                <i class="mc-iconfont desc-icon">&#xe610;</i>
            </mx-copy>
            <pre id="{{=viewId}}_text_2">
&lt;!-- 配置了page的情况下忽略offset配置 --&gt;
&lt;mx-pagination 
    simplify="true"
    total="{{=total}}" 
    size="30" 
    page="3"
    offset="30"/&gt;
            </pre>
        </div>
    </div>
</div>