<div class="example">
    <div class="eg-content">
        <mx-pager class="mx5-mb40"
            *total="{{=total}}" 
            *size="30" 
            *offset="30"/>
    
        <mx-pager class="mx5-mb40"
            *simplify="true"
            *total="{{=total}}" 
            *size="30" 
            *offset="30"/>
    
        <mx-pager class="mx5-mb40"
            *mini="true"
            *total="{{=total}}" 
            *size="30" 
            *page="3"
            *offset="30"/>
    
        <!-- mode="circle" 千牛用 fusion主题 -->
        <mx-pager class="mx5-mb40"
            *mode="circle"
            *total="{{=total}}" 
            *size="30" 
            *offset="30"/>
    
        <!-- mode="circle" 千牛用 fusion主题 -->
        <mx-pager class="mx5-mb40"
            *mode="circle"
            *simplify="true"
            *total="{{=total}}" 
            *size="30" 
            *offset="30"/>
    
        <!-- mode="circle" 千牛用 fusion主题 -->
        <mx-pager class="mx5-mb40"
            *mode="circle"
            *mini="true"
            *total="{{=total}}" 
            *size="30" 
            *page="3"
            *offset="30"/>
    </div>
    <div class="eg-desc">
        <div class="eg-title">HTML Code</div>
        <mx-copy class="desc-oper" 
            *copy-node="{{=$viewId}}_text_1" 
            mx-success="@:{done}({id:1})">
            <span class="desc-tip" mx-html="{{=text1}}"></span>
            <i class="mx5-iconfont desc-icon">&#xe610;</i>
        </mx-copy>
        <mx-source whole="true" id="{{=$viewId}}_text_1">
            <mx-number 
                *num="1,842.68"
                *color="#ffb400"
                *font-size="24"/>
        </mx-source>
    </div>
</div>
