<div class="pr pr120">
    <div mx-view="__test__/subs?list={{@[{
        name: '使用示例',
        key: viewId + '_demo',
        subs: [{
            name: '完整版',
            key: viewId + '_demo1'
        },{
            name: '精简版',
            key: viewId + '_demo2'
        },{
            name: '顺序翻页',
            key: viewId + '_demo3'
        },{
            name: 'offset or page',
            key: viewId + '_demo5'
        },{
            name: '对齐方式',
            key: viewId + '_demo4'
        }]
    }, {
        name: 'API',
        key: viewId + '_api'
    }, {
        name: 'Event',
        key: viewId + '_event'
    }]}}"></div>

    <mx-title.second content="使用示例" id="{{=viewId}}_demo" />
    <div class="clearfix mb20">
        <div mx-view="@./1" id="{{=viewId}}_demo1"></div>
        <div mx-view="@./2" id="{{=viewId}}_demo2"></div>
        <div mx-view="@./3" id="{{=viewId}}_demo3"></div>
        <div mx-view="@./5" id="{{=viewId}}_demo5"></div>
        <div mx-view="@./4" id="{{=viewId}}_demo4"></div>

        <!-- mode="circle" 千牛用 fusion主题 -->
        <!-- <div mx-view="@./6" id="{{=viewId}}_demo6"></div> -->
    </div>

    <mx-title.second content="API" id="{{=viewId}}_api" />
    <div mx-view="__test__/api?options={{@options}}" class="mb40"></div>

    <mx-title.second content="Event" id="{{=viewId}}_event" />
    <div mx-view="__test__/event?options={{@events}}"></div>
</div>