<div class="eg-content">
    <div class="mx5-mb20 mx5-clearfix">
        <div class="mx5-fl mx5-color-9">以下示例：</div>
        <div class="mx5-fl">
            <div>模块加载统一loading，默认显示为bp品牌色，支持配置color和color-gradient自定义颜色（支持渐变）</div>
            <div>默认宽度100%，默认高度200px，支持配置height自定义高度</div>
        </div>
    </div>
    <mx-loading />
    <mx-loading *content="加载中..."/>
</div>
<div class="eg-desc">
    <div class="eg-title">HTML Code</div>
    <mx-copy class="desc-oper" 
        *copy-node="{{=$viewId}}_text_1" 
        mx-success="@:{done}({id:1})">
        <span class="desc-tip" mx-html="{{=text1}}"></span>
        <i class="mx5-iconfont desc-icon">&#xe610;</i>
    </mx-copy>
    <mx-source whole="true" id="{{=$viewId}}_text_1">
        <mx-loading />

        <mx-loading *content="加载中..."/>
    </mx-source>
</div>