{{if text}}
    <label class="mx5-radio-label">
        <input class="mx5-radio" type="radio" 
            checked="{{=checked}}?"
            disabled="{{=disabled}}?"
            name="{{=name}}"
            value="{{=value}}" />
        {{if text}}
        <span mx-html="{{=text}}"></span>
        {{/if}}
        {{if tagContent}}
        <span class="mx5-radio-tag mx5-tag" 
            style="{{if tagColor}} background-color: {{=tagColor}}; border: 1px solid {{=tagColor}}; {{/if}}">
            <span class="mx5-tag-name" mx-html="{{=tagContent}}"></span>
        </span>
        {{/if}}
    </label>
    {{if tip}}
    <mx-popover class="mx5-iconfont mx5-radio-pop" *content="{{=tip}}">&#xe72f;</mx-popover>
    {{/if}}
{{else}}
<input class="mx5-radio" type="radio" 
    checked="{{=checked}}?"
    disabled="{{=disabled}}?"
    name="{{=name}}"
    value="{{=value}}" />
{{/if}}