<!-- {{if searchbox}}
<div class="mx-output-search">
    <mx-input 
        style="width: 100%;"
        search="true"
        placeholder="搜索关键词"
        value="{{=keyword}}"
        mx-keyup="@{search}()"
        mx-paste="@{search}()"
        mx-change="@{stop}()"
        mx-focusin="@{stop}()"
        mx-focusout="@{stop}()"
        {{if spm}} data-spm-click="{{=spm}}_s" {{/if}}/>
</div>
{{/if}} -->

{{if !allHide}}
<div class="mx5-output-list" style="{{if height}} max-height:{{=height}}px; {{/if}}">
    {{each parents as parent parentIndex}}
        {{if !parent.hide}}
            {{if hasGroups}}
            <div class="mx5-output-header" title="{{=parent.text}}" mx-html="{{=parent.text}}"></div>
            {{/if}}
            {{each parent.list as item itemIndex}}
                {{if !item.hide}}
                <div class="mx5-output-item" title="{{=(item.tip || item.text)}}">
                    {{if (item.disabled && item.disabledTip)}}
                    <mx-popover class="mx5-output-link mx5-output-link-disabled"
                        *content="<div class='mx5-vmt'><i class='mx5-iconfont mx5-color-error'>&#xe72a;</i>&nbsp;{{=item.disabledTip}}</div>"
                        *placement="rc" 
                        *offset="{{#{left:-10}}}" 
                        mx-html="{{=item.text}}"></mx-popover>
                    {{else}}
                    <span class="mx5-output-link {{if item.selected}} mx5-output-link-active {{/if}} {{if item.disabled}} mx5-output-link-disabled {{/if}}" 
                        mx-click="{{=(!item.disabled)}}?@:{select}({item:'{{#item}}'})" data-spm-click="{{=spm}}?{{=spm}}{{=item.value}}">
                        <span mx-html="{{=item.text}}"></span>
                        {{if (item.opers && item.opers.length)}}
                        <span class="link-opers">
                            {{each item.opers as oper}}
                                {{if oper == 'delete'}}
                                <i class="link-oper mx5-iconfont" title="移除" mx-click="@:{delete}({item:{{#item}}})">&#xe68d;</i>
                                {{/if}}
                                {{if oper == 'edit'}}
                                <i class="link-oper mx5-iconfont" title="编辑" mx-click="@:{select}({item:{{#item}},operationType:'edit'})">&#xe698;</i>
                                {{/if}}
                            {{/each}}
                        </span>
                        {{/if}}
                    </span>
                    {{/if}}
                </div>  
                {{/if}}
            {{/each}}
        {{/if}}
    {{/each}}
</div>
{{else}}
<mx-error type="empty-content" mode="small"/>
{{/if}}

{{if tip}}
<div class="mx-output-footer" mx-html="{{=tip}}"></div>
{{/if}}