{{if (mode == 'edit')}}
<div class="edit {{if editable}} editable {{/if}}">
    <div class="edit-inner">
        {{each list as item index}}
        <a class="edit-item {{=(item.value == selected) ? 'edit-selected' : ''}}" 
            href="{{=(item.link ? item.link : 'javascript:;')}}" 
            target="{{=item.link}}?_blank" 
            rel="{{=item.link}}?noopener noreferrer"
            mx-click="{{=(!item.disabled && !item.link)}}?@:{select}({item:'{{#item}}'})"
            data-spm-click="{{=spm}}?{{=spm}}_{{=index}}">
            
            <span class="edit-text" mx-html="{{=item.text}}"></span>

            {{if item.tagContent}}
            <span class="edit-tag" mx-html="{{=item.tagContent}}"></span>
            {{else if item.tag}}
            <mx-effects.icon class="edit-tag" 
                *type="error" 
                *color="{{=item.color}}?" 
                *content="{{=item.tag}}"/>
            {{/if}}

            {{if item.tip}}
            <mx-popover class="mx5-iconfont mx5-iconfont-tip"
                *width="280" 
                *content="{{=item.tip}}">&#xe72f;</mx-popover>
            {{/if}}
        
            {{if editable}}
            <i class="mc-iconfont edit-icon ml5" mx-click="@{remove}({index:'{{=index}}'})" {{if spm}} data-spm-click="{{=spm}}editremove{{=index}}" {{/if}}>&#xe653;</i>
            {{/if}}
        </a>
        {{/each}}
    </div>
    {{if editable}}
    <a class="edit-item edit-add" 
        href="javascript:;" mx-click="@{add}()"
        {{if spm}} data-spm-click="{{=spm}}editadd" {{/if}}><i class="mc-iconfont edit-icon">&#xe652;</i></a>
    {{/if}}
</div>
{{else}}
<div class="items">
    {{each list as item index}}
    <a class="item {{if item.disabled}} item-disabled {{/if}} {{= (item.value == selected) ? 'selected' : ''}}" 
        href="{{=(item.link ? item.link : 'javascript:;')}}" 
        target="{{=item.link}}?_blank" 
        rel="{{=item.link}}?noopener noreferrer"
        mx-click="{{=(!item.disabled && !item.link)}}?@:{select}({item:'{{#item}}'})"
        data-spm-click="{{=spm}}?{{=spm}}_{{=index}}">

        <span class="text" mx-html="{{=item.text}}"></span>

        {{if item.tagContent}}
        <span class="tag-content" mx-html="{{=item.tagContent}}"></span>
        {{else if item.tag}}
        <mx-effects.icon class="tag" 
            *type="error" 
            *color="{{=item.color}}?" 
            *content="{{=item.tag}}"/>
        {{/if}}

        {{if item.tip}}
        <mx-popover class="mx5-iconfont mx5-iconfont-tip"
            *width="280" 
            *content="{{=item.tip}}">&#xe72f;</mx-popover>
        {{/if}}
    </a>
    {{/each}}
</div>
{{/if}}