<!-- <div class="example">
    <div class="eg-content">
        <div class="mb20 clearfix lh22">
            <div class="color-9 fl">使用说明：</div>
            <div class="fl">
                <div class="clearfix">mx-checkbox支持配置text由组件来包装文案</div>
                <div class="mb10">对于配置了text文案的mx-checkbox，会用label包裹input[type="checkbox"]，即&lt;mx-checkbox name="checkboxs" text="文案" value="1"&gt;，最终生成的代码如下：</div>
                <pre class="tip-content has-border w500 mb10">
&lt;label&gt;
    &lt;input type="checkbox" name="checkboxs" value="1" /&gt;文案
&lt;/label&gt;</pre>
                <div class="mb10">而对于未配置text文案的mx-checkbox，则只会有input[type="checkbox"]，即&lt;mx-checkbox name="checkboxs" value="1"&gt;，最终生成的代码如下：</div>
                <pre class="tip-content has-border w500 mb10">
&lt;input type="checkbox" name="checkboxs" value="1" /&gt;</pre>
                <div class="mb10">以下示例为带文案，打标，提示的常用场景</div>
            </div>
        </div>
       
        <div class="mb20 clearfix">
            <span class="mr20 fl w120">文案：</span>
            {{each list as item}}
            <mx-checkbox class="mr30"
                name="{{=viewId}}_checkboxs_1" 
                value="{{=item.value}}" 
                text="{{=item.text}}"
                {{:selected1{refresh:true}}} />
            {{/each}}

            <span class="ml20">当前选中：{{=selected1}}</span>
        </div>

        <div class="mb20 clearfix">
            <span class="mr20 fl w120">文案禁用：</span>
            {{each list as item}}
            <mx-checkbox class="mr30"
                name="{{=viewId}}_checkboxs_2" 
                value="{{=item.value}}" 
                text="{{=item.text}}"
                disabled="true"
                {{:selected2{refresh:true}}} />
            {{/each}}
        </div>

        <div class="mb20 clearfix">
            <span class="mr20 fl w120">文案提示：</span>
            {{each list as item}}
            <mx-checkbox class="mr30"
                name="{{=viewId}}_checkboxs_3" 
                value="{{=item.value}}" 
                text="{{=item.text}}"
                tip="{{=item.tip}}"
                {{:selected3{refresh:true}}} />
            {{/each}}

            <span class="ml20">当前选中：{{=selected3}}</span>
        </div>

        <div class="mb20 clearfix">
            <span class="mr20 fl w120">文案提示禁用：</span>
            {{each list as item}}
            <mx-checkbox class="mr30"
                name="{{=viewId}}_checkboxs_4" 
                value="{{=item.value}}" 
                text="{{=item.text}}"
                tip="{{=item.tip}}"
                disabled="true"
                {{:selected4{refresh:true}}} />
            {{/each}}
        </div>

        <div class="mb20 clearfix">
            <span class="mr20 fl w120">文案提示：</span>
            {{each list as item}}
            <mx-checkbox class="mr30"
                name="{{=viewId}}_checkboxs_5" 
                value="{{=item.value}}" 
                text="{{=item.text}}"
                tip="{{=item.tip}}"
                tag-content="{{=item.tag}}"
                {{:selected5{refresh:true}}} />
            {{/each}}

            <span class="ml20">当前选中：{{=selected5}}</span>
        </div>

        <div class="mb20 clearfix">
            <span class="mr20 fl w120">文案提示禁用：</span>
            {{each list as item}}
            <mx-checkbox class="mr30"
                name="{{=viewId}}_checkboxs_6" 
                value="{{=item.value}}" 
                text="{{=item.text}}"
                tip="{{=item.tip}}"
                tag-content="{{=item.tag}}"
                disabled="true"
                {{:selected6{refresh:true}}} />
            {{/each}}
        </div>
    </div>
    <div class="eg-desc">
        <div class="eg-title">HTML Code</div>
        <mx-copy copy-node="{{=viewId}}_text_1" class="desc-oper" 
            mx-success="done({id:1})">
            <span class="desc-tip">{{!text1}}</span>
            <i class="mc-iconfont desc-icon">&#xe610;</i>
        </mx-copy>
        <pre id="{{=viewId}}_text_1">
&#123;&#123;each list as item&#125;&#125;
&lt;mx-checkbox class="mr30"
    name="&#123;&#123;=viewId&#125;&#125;_checkboxs" 
    value="&#123;&#123;=item.value&#125;&#125;" 
    text="&#123;&#123;=item.text&#125;&#125;"
    tip="&#123;&#123;=item.tip&#125;&#125;"
    tag-content="&#123;&#123;=item.tag&#125;&#125;"
    &#123;&#123;:selected&#123;refresh:true&#125;&#125;&#125; /&gt;
&#123;&#123;/each&#125;&#125;
        </pre>
    </div>
</div> -->