<div class="example">
    <div class="eg-content">
        <form class="mx5-form" style="--mx5-form-label-size: 12;">
            {{each options as option}}
            <div class="mx5-form-item">
                <div class="mx5-form-label">{{=option.text}}</div>
                <div class="mx5-form-content">
                    {{each option.list as item}}
                    <mx-radio class="mx5-mr20"
                        *value="{{=item.value}}" 
                        *text="{{=item.text}}（{{=option.value}}：{{=item.value}}）"
                        *name="{{=$viewId}}_{{=option.value}}" 
                        *checked="{{=(item.value == selected[option.value])}}"
                        mx-change="change({option:'{{=option.value}}',item:'{{=item.value}}'})"/>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </form>
        <div class="mx5-pt40 mx5-pb60">
            <mx-effects.card 
                *list="{{#list}}"
                *autoplay="false"
                *mode="{{=selected['mode']}}" />
        </div>
    </div>
    <div class="eg-desc">
        <div class="eg-title">HTML Code</div>
        <mx-copy class="desc-oper" 
            *copy-node="{{=$viewId}}_text_1" 
            mx-success="@:{done}({id:1})">
            <span class="desc-tip" mx-html="{{=text1}}"></span>
            <i class="mx5-iconfont desc-icon">&#xe610;</i>
        </mx-copy>
        <mx-source whole="true" id="{{=$viewId}}_text_1">

        </mx-source>
    </div>
</div>